<div class="right-column-box">

<h1>Members Pages</h1>

<ul>
  <li><%= link_to "Bulletin Board", posts_path %></li>
  <li><%= link_to "Documents", squadron_documents_path %></li>
  <li><%= link_to "Membership", members_list_path %></li>
  <li><%= link_to "Account/Profile", account_path(current_user.member.id) %></li>
  <li><%= link_to 'Password', edit_user_registration_path %></li>
</ul>
<p><%= link_to "Renew Membership Online", membership_path %></p>

<%= button_to 'Submit Safety Concern', new_safety_item_path, :method => :get, :class => 'safety-button' %>

<!-- Close right-column-box -->
</div>