<div class="right-column-box">
<%  @email_address = EmailAddress.new %>
<h1>Squadron Alerts</h1>

<p>Sign up for Alerts to Devil Dog news, newsletters and calendar updates. Simply enter your email address and click on subscribe.</p>

<p>If you wish to cancel your news alerts, enter your email address and click unsubscribe.</p>

<%= form_for(@email_address) do |f| %>
<%= f.hidden_field :active, :value => 'true' %>
<%= f.hidden_field :source, :value => 'web' %>
 
<p><%= f.label :address, "Email Address" %>:</p>
<div align="center"><%= f.text_field :address, :size => '30' %>
<br />
<br />

<%= f.submit "add me to the list" %></div>
<br />
<% end %>

<!-- Close right-column-box -->
</div>