  <script>
  $(function() {
    $( "#trip_crew_arrival" ).datetimepicker({
     format:'Y-m-d H:i:00',
     step:30
    });

    $( "#trip_tug_time" ).datetimepicker({
     format:'Y-m-d H:i:00',
     step:15
    });

    $( "#trip_wheels_up" ).datetimepicker({
     format:'Y-m-d H:i:00',
     step:15
    });

    $( "#trip_destination_eta" ).datetimepicker({
     format:'Y-m-d H:i:00',
     step:15
    });

    $( "#trip_return_eta" ).datetimepicker({
     format:'Y-m-d H:i:00',
     step:15
    });
  });

  </script>


<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="flex-row">
  <div class="cell field"> 
    <%= f.label :crew_arrival, "Crew Arrival" %>:<br />
    <%= f.text_field :crew_arrival, :value => f.object.try(:crew_arrival).try(:strftime,'%Y-%m-%d %H:%M:%S'), :size => 20 %>
  </div>
  <div class="cell field"> 
    <%= f.label :tug_time, "Tug Time" %>:<br />
    <%= f.text_field :tug_time, :value => f.object.try(:tug_time).try(:strftime,'%Y-%m-%d %H:%M:%S'), :size => 20 %>
  </div>
</div>
<div class="flex-row">
  <div class="cell field"> 
    <%= f.label :wheels_up %>:<br />
    <%= f.text_field :wheels_up, :value => f.object.try(:wheels_up).try(:strftime,'%Y-%m-%d %H:%M:%S'), :size => 20 %>
  </div>
  <div class="cell field"> 
    <%= f.label :destination_eta, "Destination ETA" %>:<br />
    <%= f.text_field :destination_eta, :value => f.object.try(:destination_eta).try(:strftime,'%Y-%m-%d %H:%M:%S'), :size => 20 %><br />
    <div class="form_note"><%= @event.location.one_way_distance %> nm @ 200 mph = <%= number_with_precision((@event.location.one_way_distance.to_f/200), :precision => 1) %> hrs</div>
  </div>
</div>
<div class="flex-row">
  <div class="cell field">
    <%= f.label :return_eta, "Return ETA" %>:<br />
    <%= f.text_field :return_eta, :value => f.object.try(:return_eta).try(:strftime,'%Y-%m-%d %H:%M:%S'), :size => 20 %>
    <div class="form_note">Defaults to Sunday at 6PM after<br />event start - adjust as necessary.</div>
  </div>
</div>
<div class="flex-row">
  <div class="cell field">
  <%= f.label :notes %>:<br />
  <%= f.text_area :notes, :size => "50x5", :placeholder => "Enter other relevant trip details such as fuel stops, lodging details, etc. Also crew member trip responsibilities." %>
  </div>
</div>
<%= f.hidden_field :event_id, :value => @event.id %>
<div class="clearer"></div>




<div class="clearer"></div>
<hr />
Click checkbox to send email notification to following trip participants. <%= check_box_tag 'email_notice' %>
<hr />
<ol>
<% @event.event_signups.each do |event_signup,i| %>
  <li><%= event_signup.member.user.email %></li>
<% end %>
</ol>
<div class="clearer"></div>

  <div class="actions">
    <%= f.submit :data => { :disable_with => "Submitting..." },:class => "btn-default btn btn-big btn-primary" %>
  </div>
<% end %>
