<% content_for :sidebar do %>
  <%= render "events/event_details" %>
<% end %>

<h1><%= @trip.event.title %></h1>
<table width="500" class="table_border">
  <tr>
    <td width="150">Crew arrival</td>
    <td><strong><%= @trip.crew_arrival.strftime("%b %d - %H:%M") %></strong></td>
  </tr>
  <tr>
    <td width="150">Distance (nm)</td>
    <td><strong><%= @trip.event.location.one_way_distance %> | ~<%= (@trip.event.location.one_way_distance.to_f/185).round(2) %> hours</strong></td>
  </tr>
  <tr>
    <td>Tug time</td>
    <% if !@trip.tug_time.nil? %>
      <td><strong><%= @trip.tug_time.strftime("%b %d - %H:%M") %></strong></td>
    <% end %>
  </tr>
  <tr>
    <td>Wheels up</td>
    <td><strong><%= @trip.wheels_up.strftime("%b %d - %H:%M") %></strong></td>
  </tr>
  <tr>
    <td>Destination ETA</td>
    <% if !@trip.destination_eta.nil? %>
      <td><strong><%= @trip.destination_eta.strftime("%b %d - %H:%M") %></strong></td>
    <% end %>
  </tr>
  <tr>
    <td>Return ETA</td>
    <% if !@trip.return_eta.nil? %>
      <td><strong><%= @trip.return_eta.strftime("%b %d - %H:%M") %></strong></td>
    <% end %>
  </tr>
  <tr>
    <td>Notes:</td>
    <td><%= markdown @trip.notes %></td>
  </tr>
</table>

<div style="text-align: center; display: block;">
  <%= button_to "Trip Financials", trip_financials_path(@trip) %>
</div>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
