<%= form_for(@event_signup) do |f| %>
  <% if @event_signup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_signup.errors.count, "error") %> prohibited this event_signup from being saved:</h2>

      <ul>
      <% @event_signup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="indent_row" style="width: 560px;">
  <div class="cell">
    <div class="field">
      <%= f.label :event_id, "Event" %><br />
      <%= f.collection_select :event_id, Event.ordered.published.all, :id, :title, options = {:order => 'start ASC', :prompt => true}, html_options = {:class => "styled-select"} %>
    </div>
  </div>
  <div class="cell">
    <div class="field">
      <%= f.label :member_id, "Member" %><br />
      <%= f.collection_select :member_id, Member.ordered.all, :id, :full_name, options = {:prompt => true}, html_options = {:class => "styled-select"} %>
    </div>
  </div>
</div>
<div class="indent_row" style="width: 560px;">
  <div class="cell" style="padding: 0 0 5em 10em;">
    <div class="field">
      <div class="cell radio_button_selection">
        <label><%= f.radio_button 'commitment_level', 'Definite' %><br /><%= f.label :commitment_level, "Definite" %></label>
      </div>
      <div class="cell radio_button_selection" style="border: none;">
        <label><%= f.radio_button 'commitment_level', 'Maybe' %><br /><%= f.label :commitment_level, "Maybe" %></label>
      </div>
    </div>
  </div>
</div>

<%= f.hidden_field :position, :value => 0 %>

  <div class="actions">
    <%= f.submit :data => { :disable_with => "Submitting..." } %>
  </div>

<% end %>

