<% content_for :sidebar do %>

<% end %>

<h1>Editing Event Signup</h1>

<p>To change your level of commitment for <strong><%= @event_signup.event.title %>, 

<% if @event_signup.event.start.strftime("%b %d" ) == @event_signup.event.end.strftime("%b %d") %>
    <%= @event_signup.event.start.strftime("%b. %d, %Y") %>,
<% else %>
    <%= @event_signup.event.start.strftime("%b. %d") %> - <%= @event_signup.event.end.strftime("%b. %d, %Y") %>, 
<% end %>

</strong> select the appropriate button and click the 'Update my Request' button.</p>

<%= render 'member_form' %>

