<h1>Airshow Signups</h1>

<table>
  <tr>
    <th>Events</th>
    <th>Members</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_signups.events.uniq.title.each do |event_signup| %>
  <tr>
    <td><%= event_signup.event.title %></td>
    <td><%= event_signup.member.last_name %></td>
    <td><%= link_to 'Show', event_signup %></td>
    <td><%= link_to 'Edit', edit_event_signup_path(event_signup) %></td>
    <td><%= link_to 'Destroy', event_signup, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event signup', new_event_signup_path %>
