<% airshow = "" %>

<h1>Airshow Signups</h1>

<table width="500" class="table_border">
  <tr>
    <th>Member</th>
    <th>Signup Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_signups.each do |event_signup| %>
  <% if airshow != event_signup.event.title %>
    <tr>
      <td colspan=3><strong><em><%= event_signup.event.title + " - " + event_signup.event.start.strftime("%b %d, %Y") %></em></strong><%= link_to "Create Trip", new_trip_path(:event_id => event_signup.event.id) %></td>
    </tr>
  <% end %>

  <tr class="<%= cycle('odd_row', 'even_row') %>">
    <td><%= link_to event_signup.member.first_name + " " + event_signup.member.last_name, edit_event_signup_path(event_signup)  %></td>
    <td><%= link_to event_signup.created_at.strftime("%b %d, \'%y %H:%M") %>
    <td><%= link_to 'Delete', event_signup, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% airshow = event_signup.event.title %>
<% end %>

</table>

<br />

<%= link_to 'New Event signup', new_event_signup_path %>
