<%= form_for(@squadron_document) do |f| %>
  <% if @squadron_document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@squadron_document.errors.count, "error") %> prohibited this squadron_document from being saved:</h2>

      <ul>
      <% @squadron_document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="cell field">
    <%= f.label :document_category_id, "Document Category" %><br />
    <%= f.collection_select :document_category_id, DocumentCategory.ordered.all, :id, :category_name, options = {:prompt => true}, html_options = {:class => "styled-select"} %>
  </div>
  <div class="cell field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
</div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => "50x5" %>
  </div>
  <div class="field">
    <%= f.label :file_url, 'File name' %><br />
    <%= f.text_field :file_url %>
  </div>
  <div class="field">
    <%= f.label :doc_date %><br />
    <%= f.date_select :doc_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
