<h1>Living History Flight Experience</h1>

<p>Thank you for your interest in the Living History Flight Experience.</p>

<p>The following information was received.</p>
<p>
  <b>Name:</b>
  <%= @ride_request.first_name %> <%= @ride_request.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @ride_request.email %>
</p>

<p>
  <b>Location:</b>
  <%= @ride_request.city %>, <%= @ride_request.state %>
</p>

<p>
  <b>Phone:</b>
  <%= @ride_request.phone %>
</p>

<% if !@ride_request.events.blank? %>
Indicated interest at the following events:<br />
<ul>  <% @ride_request.events.each do |event| %>
    <li><%= event.title %> | 
      <% if event.start.strftime("%b %d") == event.end.strftime("%b %d") %>
        <%= event.start.strftime("%b %d, %Y") %>
      <% else %>
        <% if event.start.strftime("%b") == event.end.strftime("%b") %>
          <%= event.start.strftime("%b %d") %>-<%= event.end.strftime("%d, %Y") %>
        <% else %>
          <%= event.start.strftime("%b %d") %>-<%= event.end.strftime("%b %d, %Y") %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
<% end %>

<p>Living History Flight Experience PrePay is <strong>$395</strong>, if you would like to prepay for your ride please use this link.</p>

<div style="text-align: center;">
<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">

<br />
<input type="image" src="https://www.paypal.com//en_US/i/btn/sc-but-03.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
<input type="hidden" name="add" value="1">
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="business" value="px_info@devildogsquadron.com">
<input type="hidden" name="item_name" value="Living History Flight Experience">
<input type="hidden" name="item_number" value="100">
<input type="hidden" name="amount" value="395">
<input type="hidden" name="page_style" value="Primary">
<input type="hidden" name="shipping" value="0">
<input type="hidden" name="no_shipping" value="2">
<input type="hidden" name="no_note" value="1">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="bn" value="PP-ShopCartBF">

</form>

</div>