<% content_for :sidebar do %>
<% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
  <div align="center">
  <%= button_to 'New Officer position', new_officer_position_path, :method => :get %>
  </div>
<% end %>

<% end %>

<% last_position = "" %>
<h1>Listing Officer Positions</h1>

<table>
  <tr>
    <th>Position name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @officer_positions.each do |officer_position| %>
   <tr class="<%= cycle('odd-row', 'even-row') %>">
    <td><%= officer_position.position_name %></td>
    <td><%= officer_position.description %></td>
    <td><%= link_to 'Show', officer_position %></td>
    <td><%= link_to 'Edit', edit_officer_position_path(officer_position) %></td>
    <td><%= link_to 'Destroy', officer_position, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h2>Current Office Holders</h2> 

<table>
    <tr> 
        <th>Position</th>
        <th>Officer</th>
    </tr>
   <% @officer_positions.each do |officer_position| %>
   <tr class="<%= cycle('odd-row', 'even-row') %>">
     <td><%= officer_position.position_name %>: </td>
     <td><% officer_position.terms.current.each do |term| %>
      <% if last_position == officer_position.position_name %>
        /
       <% end %>
      <%= term.member.first_name + " " + term.member.last_name %>
      <% last_position = officer_position.position_name %>
    <% end %>
    </td>
    </tr>
<% end %>
</table>
