<% content_for :sidebar do %>
<% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
  <div align="center">
  <%= button_to 'New Officer position', new_officer_position_path, :method => :get %>
  </div>
<% end %>

<% end %>

<% last_position = "" %>
<h1>Officer Positions</h1>

<p>Descriptions from <a href="http://www.commemorativeairforce.org/images/2015_Guides_and_Forms/2015_Guides/Unit_Manual_Section_2_July_2015.pdf">CAF Unit Manual July 2015</a>.</p>

<table>
  <tr>
    <th>Position</th>
    <th>Description</th>
  </tr>

<% @officer_positions.each do |officer_position| %>
   <tr class="<%= cycle('plain_row', 'colored_row') %>">
    <td class="top-align"><strong><%= link_to officer_position.position_name, officer_position %></strong>
    <br /><%= officer_position.usual_term_length %><br /><%= officer_position.usual_term_start %> start</td>
    <td class="top-align"><%= simple_format(officer_position.description) %></td>
  </tr>
<% end %>
</table>
