<p>
  <b>Position name:</b>
  <%= @officer_position.position_name %>
</p>

<p>
  <b>Term Duration:</b>
  <%= @officer_position.usual_term_length %>
</p>

<p>
  <b>Term Start:</b>
  <%= @officer_position.usual_term_start %>
</p>

<p>
  <b>Description:</b>
  <%= simple_format(@officer_position.description) %>
</p>


<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
  <%= link_to 'Edit', edit_officer_position_path(@officer_position) %> |
  <% end %>
<% end %>
<%= link_to 'Back', officer_positions_path %>
