<script>
  $(function() {
$('th').click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})
function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).html() }
  });

</script>

<h1>Dues Payment Past Due Reminder List</h1>

<p>Qty: <%= @dues_reminders.size %></p>

<table class="table_border">
  <tr>
    <th>Member</th>
    <th>Date Paid</th>
    <th>Payment method</th>
    <th>Payment type</th>
    <th>Amt paid</th>
    <th>Notes</th>
  </tr>

<% @dues_reminders.each do |dues_payment| %>
  <tr class="<%= cycle('odd_row', 'even_row') %>">
    <td><%= link_to dues_payment.member.last_name + ', ' + dues_payment.member.first_name, dues_payment %></td>
    <td><%= dues_payment.date_paid %></td>
    <td><%= dues_payment.payment_method %></td>
    <td><%= dues_payment.payment_type %></td>
    <td><%= number_to_currency(dues_payment.amt_paid) %></td>
    <td><%= dues_payment.notes %></td>
  </tr>
<% end %>
</table>

