<script>
  $(function() {
$('th').click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})
function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).html() }
  });

</script>

<% last_payment = "" %>

<h1>Dues Payment Reminder List</h1>

<p>Qty: <%= @dues_reminders.size %></p>

<p>Current Lookup Date Range: <%= @date_start.strftime("%Y-%m-%d") %> - <%= @date_end.strftime("%Y-%m-%d") %></p>

<table class="table_border">
  <tr>
    <th>Member</th>
    <th>Payment History</th>
    <th>Reminder History</th>
  </tr>

<% @dues_reminders.each do |dues_payment| %>
  <tr class="<%= cycle('odd_row', 'even_row') %>">
    <td><% if dues_payment.member %><%= link_to dues_payment.member.last_name + ', ' + dues_payment.member.first_name, dues_payment %><% end %></td>

    <td>
      <table class="smaller-table">
      <tr>
        <th>Date</th>
        <th>Amt Paid</td>
        <th>Payment<br />Method</td>
        <th>Type</td>
      </tr>
      <% dues_payment.member.dues_payments.order('date_paid ASC').each do |dues_paid| %>
        <tr style="background: #fff;">
        <td><%= link_to dues_paid.date_paid, dues_payment_path(dues_paid) %></td>
        <td><%= number_to_currency(dues_paid.amt_paid) %></td>
        <td><%= dues_paid.payment_method %></td>
        <td><%= dues_paid.payment_type %></td>
      </tr>
       <% last_payment = dues_paid %>
      <% end %>
      </table>
   </td>
   <td>
   <% if dues_payment.member.dues_reminders.present? %>
     <table class="smaller-table">
      <tr>
        <th>Notice</th>
        <th>Sent</td>
      </tr>

      <% dues_payment.member.dues_reminders.order('created_at ASC').each do |dues_reminder| %>
        <tr style="background: #fff;">
      <td><%= dues_reminder.notice_name %></td>
      <td><%= dues_reminder.created_at.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
      <% end %>
      </table>
      <% end %>
                  <div style="text-align:center;margin-top:0.5em;"><%= button_to "Send Dues Reminder", send_dues_reminder_path(:id => last_payment), :class => "btn-default btn btn-primary" %></div>

   </td>
  </tr>
<% end %>
</table>

