<p>
  <b>Member:</b>
  <% if !@dues_payment.member.blank? %>
    <%= @dues_payment.member.last_name + ', ' + @dues_payment.member.first_name %> [ <%= link_to 'Go To Members Page', member_path(@dues_payment.member) %> ]
  <% else %>
    Member <%= @dues_payment.member_id %> deleted 
  <% end %>
</p>

<p>
  <b>Date paid:</b>
  <%= @dues_payment.date_paid %>
</p>

<p>
  <b>Next Due Date:</b>
  <%= (@dues_payment.date_paid.end_of_month + 1.year).strftime("%b %-d, %Y") %>
</p>

<p>
  <b>Amt paid:</b>
  <%= number_to_currency(@dues_payment.amt_paid) %>
</p>

<p>
  <b>Payment method:</b>
  <%= @dues_payment.payment_method %>
</p>

<p>
  <b>Payment type:</b>
  <%= @dues_payment.payment_type %>
</p>

<p>
  <b>Notes:</b>
  <%= @dues_payment.notes %>
</p>

<%= button_to "Send Dues Reminder", dues_reminder_path(:id => @dues_payment), :class => "btn-default btn btn-big btn-primary" %>
<br />
<%= link_to 'Edit', edit_dues_payment_path(@dues_payment) %> |
<%= link_to 'Back', dues_payments_path %>
