<%= form_for(@term) do |f| %>
  <% if @term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@term.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @term.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row" style="width: 100%;">
  <div class="cell field">
    <%= f.label :officer_position_id, "officer_position" %><br />
    <%= f.collection_select :officer_position_id, OfficerPosition.all, :id, :position_name, options = {:order => 'position_name ASC', :prompt => true}, html_options = {:class => "styled-select"} %>
  </div>
</div>
<div class="row" style="width: 100%;">
  <div class="cell field">
    <%= f.label :member_id, "member" %><br />
    <%= f.collection_select :member_id, Member.ordered.all, :id, :full_name, options = {:order => 'last_name ASC', :prompt => true}, html_options = {:class => "styled-select"} %>
  </div>
</div>
<div class="row" style="width: 100%;">
  <div class="field">
    <%= f.label :term_start %><br />
    <%= f.date_select :term_start, :order => [:month, :day, :year] %>
  </div>
</div>
<div class="row" style="width: 100%;">
  <div class="field">
    <%= f.label :term_end %><br />
    <%= f.date_select :term_end, :order => [:month, :day, :year] %>
  </div>
</div>

  <div class="actions">
    <%= f.submit :data => { :disable_with => "Submitting..." } %>
  </div>
<% end %>
