<p style="font-size: 14pt; font-family: Helvetica, Verdana, Geneva, Arial, sans-serif; color: #191919;">The following schedule information has been published on the website for the <span style="font-style: italic;font-weight: bold;"><%= @trip.event.title %></span> in <%= @trip.event.location.city + ', ' + @trip.event.location.state %> flight.</p>

<div style="max-width:600px">
<table style="margin-left: 20px;border: solid #333;border-width: thin;border-collapse: separate;border-spacing: 0px;font-size: 14pt; font-family: Helvetica, Verdana, Geneva, Arial, sans-serif; color: #191919;">
  <tr>
    <th colspan=2 style="text-align: left;background: #52782a;color: #fff;border-bottom: #CCC;border-width: 0 0 1px 0;border-style: none none solid none;padding: 3px;" >Trip Details:</th>
  </tr>
  <tr style="background: #fff;">
    <td width="150px" style="border-bottom: #d6d68b;border-right: #d6d68b;border-width: 0 1px 1px 0;border-style: none solid solid none;padding: 3px;vertical-align: top;">Crew Arrival:</td>
    <td style="border-bottom: #d6d68b;border-right: #d6d68b;border-width: 0 1px 1px 0;border-style: none solid solid none;padding: 3px;vertical-align: top;"><strong><%= @trip.crew_arrival.strftime("%H:%M - %b %d, %Y") %></strong></td>
  </tr>
  <tr style="background: #feffea;">
    <td style="border-bottom: #d6d68b;border-right: #d6d68b;border-width: 0 1px 1px 0;border-style: none solid solid none;padding: 3px;vertical-align: top;">Tug Time:</td>
    <td style="border-bottom: #d6d68b;border-right: #d6d68b;border-width: 0 1px 1px 0;border-style: none solid solid none;padding: 3px;vertical-align: top;"><strong><%= @trip.tug_time.strftime("%H:%M - %b %d, %Y") %></strong></td>
  </tr>
  <tr style="background: #fff;">
    <td style="border-bottom: #d6d68b;border-right: #d6d68b;border-width: 0 1px 1px 0;border-style: none solid solid none;padding: 3px;vertical-align: top;">Wheels up:</td>
    <td style="border-bottom: #d6d68b;border-right: #d6d68b;border-width: 0 1px 1px 0;border-style: none solid solid none;padding: 3px;vertical-align: top;"><strong><%= @trip.wheels_up.strftime("%H:%M - %b %d, %Y") %></strong></td>
  </tr>
  <tr style="background: #feffea;">
    <td style="border-bottom: #d6d68b;border-right: #d6d68b;border-width: 0 1px 1px 0;border-style: none solid solid none;padding: 3px;vertical-align: top;">Destination ETA:</td>
    <td style="border-bottom: #d6d68b;border-right: #d6d68b;border-width: 0 1px 1px 0;border-style: none solid solid none;padding: 3px;vertical-align: top;"><strong><%= @trip.destination_eta.strftime("%H:%M - %b %d, %Y") %></strong></td>
  </tr>
  <tr style="background: #fff;">
    <td style="border-bottom: #d6d68b;border-right: #d6d68b;border-width: 0 1px 1px 0;border-style: none solid solid none;padding: 3px;vertical-align: top;">Return ETA:</td>
    <td style="border-bottom: #d6d68b;border-right: #d6d68b;border-width: 0 1px 1px 0;border-style: none solid solid none;padding: 3px;vertical-align: top;"><strong><%= @trip.return_eta.strftime("%H:%M - %b %d, %Y") %></strong></td>
  </tr>
  <tr style="background: #feffea;">
    <td style="border-bottom: #d6d68b;border-right: #d6d68b;border-width: 0 1px 1px 0;border-style: none solid solid none;padding: 3px;vertical-align: top;">Distance (nm):</td>
    <td style="border-bottom: #d6d68b;border-right: #d6d68b;border-width: 0 1px 1px 0;border-style: none solid solid none;padding: 3px;vertical-align: top;"><strong><%= @trip.event.location.one_way_distance %> ~ <%= (@trip.event.location.one_way_distance.to_f/185).round(1) %> hours</strong></td>
  </tr>
  <tr style="background: #fff;">
    <td style="border-bottom: #d6d68b;border-right: #d6d68b;border-width: 0 1px 1px 0;border-style: none solid solid none;padding: 3px;vertical-align: top;">Notes:</td>
    <td style="border-bottom: #d6d68b;border-right: #d6d68b;border-width: 0 1px 1px 0;border-style: none solid solid none;padding: 3px;vertical-align: top;"><%= @trip.notes %></td>
  </tr>
</table>
</div>

<p style="font-size: 14pt; font-family: Helvetica, Verdana, Geneva, Arial, sans-serif; color: #191919;">Current Roster:</p>
<ul style="font-size: 14pt; font-family: Helvetica, Verdana, Geneva, Arial, sans-serif; color: #191919;">
<% @trip.event.event_signups.ordered.each do |event_signup| %>
  <li><%= event_signup.member.last_name %>, <%= event_signup.member.first_name %> =&gt; <%= event_signup.commitment_level %></li>
<% end %>
</ul>


<p style="font-size: 14pt; font-family: Helvetica, Verdana, Geneva, Arial, sans-serif; color: #191919;">You can view the details at <%= 'http://www.devildogsquadron.com' + event_path(@trip.event) %>.</p>

<p style="font-size: 14pt; font-family: Helvetica, Verdana, Geneva, Arial, sans-serif; color: #191919;">For any additional questions, please contact Operations Officer Beth Jenkins at (512) 869-1759.</p>

<p style="font-size: 14pt; font-family: Helvetica, Verdana, Geneva, Arial, sans-serif; color: #191919;">Devil Dog Squadron</p>

<%= image_tag 'https://www.devildogsquadron.com/assets/devildog_logo.gif' %>