<h1>Users</h1>

<p>Users is the name of login account information. This table displays account creation date, usernames, roles and last login.</p>
<table width="550" class="table_border">
  <tr>
    <th>Username</th>
    <th>Roles</th>
    <th>Last Login</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.member.last_name + ", " + user.member.first_name %><br /><Span style="margin: 0 0 0 1em;"><%= link_to user.username, edit_member_path(user.member.id) %></span></td>
    <td><% user.roles.each do |role| %>
        <%= role.name %> 
      <% end %>
    </td>
    <td><% if !user.last_sign_in_at.nil? %><%= user.last_sign_in_at.strftime("%b %d, %Y %H:%M") + " [" + user.sign_in_count.to_s + "]" %><% end %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
