<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>
  <br />
  <div><%= f.submit "Send me reset password instructions", :class => "btn-default btn btn-big btn-primary" %></div>
<% end %>

<p>Requesting to reset your password will generate an email with instructions on how to reset your password.</p>

<p>If you get an email not found error send an email to <a href="mailto:webmaster@devildogsquadron.com">webmaster@devildogsquadron.com</a> to request your address be added/updated.</p>
<%#= render "devise/shared/links" %>
