<%= form_for(@video) do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :ext_url, "Embed Code" %> <span class="form_tips">Set width to 565px</span><br />
    <%= f.text_area :ext_url, :rows => 5, :cols => 65 %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 5, :cols => 65 %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :video_graphic %><br />
    <%= f.text_field :video_graphic %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>

  <div class="field">
    <%= f.label :publish %><br />
    <%= f.check_box :publish %>
  </div>
  <div class="field">
    <%= f.label :members_only %><br />
    <%= f.check_box :members_only %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
