<h1>Listing videos</h1>

<table width="500" class="table_border">
  <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Source</th>
    <th>Publish</th>
    <th>Members only</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @videos.each do |video| %>
  <tr class="<%= cycle('odd_row', 'even_row') %>">
    <td><%= video.date %></td>
    <td><%= link_to video.title, video %></td>
    <td><%= video.source %></td>
    <td><%= video.publish %></td>
    <td><%= video.members_only %></td>
    <td><%= link_to 'Show', video %></td>
    <td><%= link_to 'Edit', edit_video_path(video) %></td>
    <td><%= button_to 'Destroy', video, :confirm => 'Are you sure?', :method => :delete %></td></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Video', new_video_path %>
