<%= raw(@video.ext_url) %>
<h1><%= @video.title %></h1>

<%= sanitize(@video.description) %>

<p>
  <b>Date:</b>
  <%= @video.date.strftime("%b %d, %Y") %>
</p>
<p>
  <b>Source:</b>
  <%= @video.source %>
</p>

<% if signed_in?%>
    <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "photographer" } %>
       <%= link_to 'Edit', edit_video_path(@video) %> | <%= link_to 'Back', videos_path %>
    <% end %>
<% end %>
