<p id="notice"><%= notice %></p>

<%= raw(@video.ext_url) %>
<h1><%= @video.title %></h1>

<%= sanitize(@video.description) %>

<p>
  <b>Date:</b>
  <%= @video.date.strftime("%b %d, %Y") %>
</p>
<p>
  <b>Source:</b>
  <%= @video.source %>
</p>


<% if session[:current_user] %>
<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
<% end %>
