<h1>Video Gallery</h1>

<% @videos.each_with_index do |video, i| %>
  <div class="gallery-row">
    <div class="photo-cell">
      <%= link_to (image_tag video.video_graphic), video %>
      <%= link_to video.title, video %><br />
      <%= video.date.strftime("%b %d, %Y") %> - <%= video.source %>
      <% if session[:current_user] %><br /><%= link_to 'Edit', edit_video_path(video) %><% end %>
    </div>
  </div>
<% end %>

<br />

<% if signed_in?%>
    <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "photographer" } %>
       <%= link_to 'New Video', new_video_path %>
    <% end %>
<% end %>

