<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="indent_row">
  <div class="cell">
  <div class="field">
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </div>
  </div>
</div>

<div class="indent_row">
  <div class="cell">
  <div class="field">
    <%= f.label :event_types_id %><br />
    <%= f.collection_select :event_type_id, EventType.all, :id, :title, :order => 'title ASC', :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :latitude, "Latitude" %><br />
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :title, "Event Name" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :entered_by %><br />
    <%= f.text_field :entered_by %>
  </div>
  </div>
  <div class="cell">
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :longitude, "Longitude" %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :contact_info %><br />
    <%= f.text_field :contact_info %>
  </div>
  <div class="field">
    <%= f.label :URL, "Event Website URL" %><br />
    <%= f.text_field :URL %>
  </div>
  </div>
</div>
<div class="clearer"></div>

<div class="indent_row">
  <div class="cell">
  <div class="field">
    <%= f.label :details %><br />
    <%= f.text_area :details, :rows => 5, :cols => 65 %>
  </div>
  </div>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
