  <script>
  $(function() {
    $( "#event_start" ).datetimepicker({
     format:'Y-m-d H:i:00',
     step:15
    });

    $( "#event_end" ).datetimepicker({
     format:'Y-m-d H:i:00',
     step:15
    });
  });
  </script>

  
<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
    <div class="field col-sm-4">
      <%= f.label :location %><br />
      <%= f.collection_select :location_id, Location.ordered.all, :id, :shortname_with_code, options = {:order => 'short_name ASC', :prompt => true}, html_options = {:class => "styled-select"} %><br />
      <p><%= link_to 'Enter a new location', new_location_path %></p>
    </div>
</div>

<div class="row">
  <div class="field col-sm-4">
    <%= f.label :title, "Event Name" %><br />
    <%= f.text_field :title, :size => "20" %>
  </div>
  <div class="field col-sm-4">
    <%= f.label :URL, "Event website" %><br />
    <%= f.text_field :URL, :size => 20 %>
  </div>
</div>

<div class="row">
  <div class="field col-sm-4">
    <%= f.label :start %><br />
    <%= f.text_field :start, :value => f.object.try(:start).try(:strftime,'%Y-%m-%d %H:%M:%S'), :size => 20 %>
  </div>
  <div class="field col-sm-4">
    <%= f.label :end %><br />
    <%= f.text_field :end, :value => f.object.try(:end).try(:strftime,'%Y-%m-%d %H:%M:%S'), :size => 20 %>
  </div>
    <div class="form_note" style="clear: both;margin: 0 0 1em 1em;">Times aren't displayed so not really important to be accurate.</div>
</div>

<div class="row">
  <div class="field col-sm-4">
    <%= f.label :event_types_id, "Event Type" %><br />
    <%= f.collection_select :event_type_id, EventType.all, :id, :title, options = {:order => 'title ASC', :prompt => true}, html_options = {:class => "styled-select"} %>
  </div>
    <div class="field col-sm-8">
      <%= f.label :event_statuses_id, "Status" %> <br />
      <%= f.collection_select :event_statuses_id, EventStatus.all, :id, :status, options = {:order => 'status ASC', :prompt => true}, html_options = {:class => "styled-select"} %>
      <div class="form_note" style="padding-top: 0.5em;">Only confirmed will show to general public, tentative will show to logged in members</div>
    </div>
</div>

<div class="row">
  <div class="field col-sm-4">
    <%= f.label :contact_info, 'Event Contact' %><br />
    <%= f.text_field :contact_info, :size => "20"  %>
  </div>
  <div class="field col-sm-4">
    <%= f.label :graphic_address, "Graphic Filename" %><br />
    <%= f.text_field :graphic_address, :size => "20" %>
  </div>
</div>

<div class="row">
  <div class="field col-sm-4">
    <%= f.label :entered_by %><br />
    <%= f.text_field :entered_by, :size => "20"  %>
  </div>
</div>


<div class="row">
  <div class="field col-sm-12">
    <%= f.label :details %> <span class="form_note">Everyone can see - enter members only details in trip notes</span><br />
    <%= f.text_area :details, :rows => 5, :class => 'boxsizingBorder'  %>
  </div>
</div>
<div class="row">
  <div class="field col-sm-12">
      <p>Check for Yes</p>
      <div style="clear: both;"><%= f.check_box :flight_roster %>Create flight roster for this event i.e. airshow signup</div>
      <div style="clear: both;"><%= f.check_box :rides_available %>LHFE Rides Available at this event</div>
      <div style="clear: both;"><%= f.check_box :rsvp %>Create RSVP list (RSVP for local events or ones not involving the aircraft)</div>
  </div>
</div>

<div class='row'>
  <div class="col-xs-5  col-xs-offset-1 col-sm-6 col-sm-offset-0">
  <div class="actions">
    <%= f.submit :data => { :disable_with => "Submitting..." },:class => "btn-default btn btn-big btn-primary" %>
  </div>
  </div>
</div>


<% end %>
