

<% content_for :sidebar do %>
  <%= render "sidebars/newsletter_signup" %>
<% end %>

<h1>Devil Dog Calendar:</h1>


<h2>Special Events</h2>

<% @events.each do |event| %>
<div class="calendar_row" style="width: 90%; padding-top: 0.25em">
  <div class="cell" style="width: 30%;">
    <% if event.start.strftime("%b %d" ) == event.end.strftime("%b %d") %>
    <div class="calendar-ii" style="margin: 0 0 0 2.5em;">
      <div class="calendar_month-ii"><%= event.start.strftime("%b") %></div>
      <div class="calendar_date-ii"><%= event.start.strftime("%d") %></div>
    </div>
    <% else %>
    <div class="calendar-ii" style="float: left;">
      <div class="calendar_month-ii"><%= event.start.strftime("%b") %></div>
      <div class="calendar_date-ii"><%= event.start.strftime("%d") %></div>
    </div>
    <span style="float: left; font-size: 1em;margin: 0.5em 0 0 0;">&#8211; </span>
    <div class="calendar-ii">
      <div class="calendar_month-ii"><%= event.end.strftime("%b") %></div>
      <div class="calendar_date-ii"><%= event.end.strftime("%d") %></div>
    </div>
    <% end %>
    <div style="clear: both;margin: 0 3em;"><em><%= event.start.strftime("%Y") %></em></div>
  </div>
  <div class="cell" style="width: 65%;">
    <strong><em><%= link_to event.title, event %></em></strong><br /><%= sanitize(event.details) %>
  </div>
</div>
<% current_event_type = event.event_type.title %>
<% end %>


<br />

<% if signed_in?%>
    <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
       <%= link_to 'New Event', new_event_path %>
    <% end %>
<% end %>


