<% current_event_type = "" %>
<% initial_date = "" %>

<% content_for :sidebar do %>
<% if signed_in?%>
    <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
         <div align="center">
           <%= button_to 'New Event', new_event_path, :method => "GET" %>
           <br /><%= link_to 'See All Events (History)', all_events_path %>
         </div>
    <% end %>
<% end %>

  <%= render "sidebars/newsletter_signup" %>
<% end %>

<h1>Devil Dog Calendar:</h1>

<% if !@events.blank? %>
<% @events.each do |event| %>
  <% if initial_date == "" %>
<div class="month-subheader">
   <strong><%= event.start.strftime("%B - %Y") %></strong>
</div>
  <% elsif event.start.strftime("%B - %Y") != initial_date %>
<div class="month-subheader">
   <strong><%= event.start.strftime("%B - %Y") %></strong>
</div>
  <% end %>
<div class="calendar_row">
<div class='row'>
<div class="col-xs-12 col-sm-4">
<div class='row'>
  <% if event.start.strftime("%b %d" ) == event.end.strftime("%b %d") %>
<div class="col-xs-12">
  <div class="calendar-ii large">
    <div class="calendar_year-ii large">
      <%= event.start.strftime("%Y") %>
    </div>
    <div class="calendar_month-ii large">
      <%= event.start.strftime("%b") %>
    </div>
    <div class="calendar_day-ii large">
      <%= event.start.strftime("%A") %>
    </div>
    <div class="calendar_date-ii large">
      <%= event.start.strftime("%d") %>
    </div>
  </div>
  <% else %>
  <div class="col-xs-6 col-sm-6">
    <div class="calendar-ii large">
      <div class="calendar_year-ii large">
        <%= event.start.strftime("%Y") %>
      </div>
      <div class="calendar_month-ii large">
        <%= event.start.strftime("%b") %>
      </div>
      <div class="calendar_day-ii large">
        <%= event.start.strftime("%A") %>
      </div>
      <div class="calendar_date-ii large">
        <%= event.start.strftime("%d") %>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="calendar-ii large">
      <div class="calendar_year-ii large">
        <%= event.end.strftime("%Y") %>
      </div>
      <div class="calendar_month-ii large">
        <%= event.end.strftime("%b") %>
      </div>
      <div class="calendar_day-ii large">
        <%= event.end.strftime("%A") %>
      </div>
      <div class="calendar_date-ii large">
        <%= event.end.strftime("%d") %>
      </div>
    </div>
<% end %>
</div>
</div>

<div class='row'>
<div class="col-xs-12">
<div class="location"><%= event.location.city + ", " + event.location.state %></div>
</div>
</div>
</div>
  <div class="col-xs-12 col-sm-8">
    <h2 class='event-title'><%= link_to event.title, event %></h2>
    <% if event.event_statuses_id == 2 %>
      <span class="event-flag" style="display: inline;"> &lt;= Tentative</span>
    <% elsif event.event_statuses_id == 3 %>
      <span class="event-flag" style="display: inline;"> &lt;= Canceled</span>
    <% end %>
    <br />
      <% if event.details.length > 220 %>
        <%= truncate(event.details, :length => 220, :separator => ' ') %> <em><%= link_to "Go to event", event %></em>
      <% else %>
        <%= event.details %>
      <% end %>

<% if event.rides_available? %>
<p class='rides-teaser'><%= image_tag '/uploads/images/dd_illustration_sm.jpg' %><br /><%= link_to "Devil Dog Rides available at this event !", living_history_flight_experience_path %></p>

	<% if !event.lhfe_flights.empty? %>
	  <p>Scheduled ride times:</p>
	  <ul>
      <% event.lhfe_flights.each do |flight| %>
        <li><%= link_to flight.flight_start_time.strftime("%A @ %I:%M %p"), lhfe_flight_path(flight) %></li>
      <% end %>
    </ul>
 <% end %>
<% end %>

  </div>
  </div>
  </div>
<% current_event_type = event.event_type.title %>
<% initial_date = event.start.strftime("%B - %Y").to_s %>
<div class="clearer"></div>
<% end %>

<% else %>
   <div class="calendar_row" style="width: 90%; padding-top: 0.25em">
     <div class="cell" style="width: 25%;">&nbsp;</div>
       No scheduled events at this time.
   </div>
<% end %>



