<% current_event_type = "" %>
<% initial_date = "" %>

<% content_for :sidebar do %>
<% if signed_in?%>
    <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
         <div align="center">
           <%= button_to 'New Event', new_event_path, :method => "GET" %>
           <br /><%= link_to 'See All Events (History)', all_events_path %>
         </div>
    <% end %>
<% end %>

  <%= render "sidebars/newsletter_signup" %>
<% end %>

<h1>Devil Dog Calendar:</h1>

<% if !@events.blank? %>
<% @events.each do |event| %>
  <% if initial_date == "" %>
<div class="month-subheader">
   <strong><%= event.start.strftime("%B - %Y") %></strong>
</div>
  <% elsif event.start.strftime("%B - %Y") != initial_date %>
<div class="month-subheader">
   <strong><%= event.start.strftime("%B - %Y") %></strong>
</div>
  <% end %>
<div class="calendar_row" style="width: 95%; padding-top: 0.25em">

  <div class="cell" style="width: 25%;">
    <% if event.start.strftime("%b %d" ) == event.end.strftime("%b %d") %>
    <div class="calendar-ii" style="margin-left: 3.5em;">
      <div class="calendar_month-ii"><%= event.start.strftime("%b") %></div>
      <div class="calendar_date-ii"><%= event.start.strftime("%d") %></div>
    </div>
    <% else %>
    <div class="calendar-ii" style="float: left; margin-left: 1.5em;">
      <div class="calendar_month-ii"><%= event.start.strftime("%b") %></div>
      <div class="calendar_date-ii"><%= event.start.strftime("%d") %></div>
    </div>
    <span style="float: left; font-size: 1em; margin: 0.5em 0 0 0;">&#8211; </span>
    <div class="calendar-ii">
      <div class="calendar_month-ii"><%= event.end.strftime("%b") %></div>
      <div class="calendar_date-ii"><%= event.end.strftime("%d") %></div>
    </div>
    <% end %>
    <div class="location"><%= event.location.city + ", " + event.location.state %></div>
  </div>
  <div class="cell" style="width: 70%;">
    <strong><em><%= link_to event.title, event %></em></strong>
    <% if event.event_statuses_id == 2 %>
      <span class="event-flag" style="display: inline;"> &lt;= Tentative</span>
    <% elsif event.event_statuses_id == 3 %>
      <span class="event-flag" style="display: inline;"> &lt;= Canceled</span>
    <% end %>
    <br />
      <% if event.details.length > 220 %>
        <%= truncate(event.details, :length => 220, :separator => ' ') %> <em><%= link_to "Go to event", event %></em>
      <% else %>
        <%= event.details %>
      <% end %>

<% if event.rides_available? %>
<p class='rides-teaser'><%= link_to "Rides available at this event !", living_flight_history_experience_path %></p>

	<% if !event.lhfe_flights.empty? %>
	  <p>Scheduled ride times:</p>
	  <ul>
      <% event.lhfe_flights.each do |flight| %>
        <li><%= link_to flight.flight_start_time.strftime("%A @ %I:%M %p"), lhfe_flight_path(flight) %></li>
      <% end %>
    </ul>
 <% end %>
<% end %>

  </div>
  </div>
<% current_event_type = event.event_type.title %>
<% initial_date = event.start.strftime("%B - %Y").to_s %>
<div class="clearer"></div>
<% end %>

<% else %>
   <div class="calendar_row" style="width: 90%; padding-top: 0.25em">
     <div class="cell" style="width: 25%;">&nbsp;</div>
       No scheduled events at this time.
   </div>
<% end %>



