<% content_for :sidebar do %>
  <%= render "sidebars/newsletter_signup" %>
<% end %>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Devil Dog Calendar:</h1>

<table width="500" class="table_border">
  <tr>
    <th>Date</th>
    <th>Title</th>
  </tr>

<% @event_types.each do |event_type| %>
  <tr>
    <td colspan="2"><strong><em><%= event_type.title %></em></strong></td>
  </tr>
<% event_type.events.published.ordered.tease.each do |event| %>
  <tr class="<%= cycle('odd_row', 'even_row') %>">
    <td><%= event.start.strftime("%b %d, %Y") %></td>
    <td><%= link_to event.title, event %></td>
  </tr>
<% end %>

<% end %>
</table>

<br />

<% if signed_in?%>
    <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
       <%= link_to 'New Event', new_event_path %>
    <% end %>
<% end %>


