<div class="content-left">

<p id="notice"><%= notice %></p>

<h1><%= @event.title %></h1>


<p><strong><%= @event.start.strftime("%b %d, %Y") %> - <%= @event.end.strftime("%b %d, %Y") %></strong></p>


<p>
  <b>Type:</b>
  <%= @event.event_type.title%>
</p>

<% if @event.details? %>
<p>
  <b>Details:</b></p>
  <%= sanitize(@event.details) %>
</p>
<% end %>

<p>
  <b>Location:</b>
  <%= @event.location %> 
  <% if @event.latitude? %>
  [<%= link_to 'Google Map', "http://maps.google.com/maps?q="+@event.latitude+",+"+@event.longitude, :target => "_blank" %>]
  <% end %>
</p>

<% if @event.URL? %>
<p>
  <b>Website:</b>
  <%= link_to @event.URL, @event.URL %>
</p>
<% end %>

<% if @event.contact_info? %>
<p>
  <b>Contact info:</b>
  <%= @event.contact_info %>
</p>
<% end %>

<% if session[:user_id] %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> | 
<%= link_to 'Logout', logout_path, :method => :DELETE	%>
<% end %>
<!-- Close content-left -->
</div>


<div id="right-column">

<div class="right-column-box">

<h1>Squadron Alerts</h1>



<p>Sign up for Alerts to Devil Dog news, newsletters and calendar updates. Simply enter your email address and click on subscribe.</p>

<p>If you wish to cancel your news alerts, enter your email address and click unsubscribe.</p>


<form name="mail_list" method="post" action="admin/mail_list_add.php">            
<table align="center" class="table_nobrdr">
    <tr> 
        <td><div align="right">email:</div></td>
        <td><input name="address" type="text" id="address" maxlength="50" /></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><div align="center"><input type="submit" name="Submit" value="Subscribe" /></div></td>
    </tr>
    <tr> 
          <td>&nbsp;</td>
          <td>&nbsp;</td>
    </tr>
    <tr> 
          <td>&nbsp;</td>
          <td><div align="center"><input type="submit" name="Submit" value="Unsubscribe" /></div></td>
    </tr>
</table>
</form>

<!-- Close right-column-box -->
</div>

<!-- Close right-column -->
</div>
