<% content_for :sidebar do %>
  <%= render "sidebars/newsletter_signup" %>
<% end %>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1><%= @event.title %></h1>


<p><strong><%= @event.start.strftime("%b %d, %Y") %> - <%= @event.end.strftime("%b %d, %Y") %></strong></p>


<p>
  <b>Type:</b>
  <%= @event.event_type.title%>
</p>

<% if @event.details? %>
<p>
  <b>Details:</b></p>
  <%= sanitize(@event.details) %>
</p>
<% end %>

<p>
  <b>Location:</b>
  <%= @event.location %> 
  <% if @event.latitude? %>
  [<%= link_to 'Google Map', "http://maps.google.com/maps?q="+@event.latitude+",+"+@event.longitude, :target => "_blank" %>]
  <% end %>
</p>

<% if @event.URL? %>
<p>
  <b>Website:</b>
  <%= link_to @event.URL, @event.URL, :target => "_blank" %>
</p>
<% end %>

<% if @event.contact_info? %>
<p>
  <b>Contact info:</b>
  <%= @event.contact_info %>
</p>
<% end %>

<% if session[:current_user] %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> | 
<%= link_to 'Logout', logout_path, :method => :delete	%>
<% end %>
