<% email_addresses = "" %>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyA2CUo-V9LEi2YuJvh6F_Sf7NkmpXnC4yE"
      type="text/javascript"></script>

<% map_url = "http://maps.googleapis.com/maps/api/staticmap?zoom=8&size=275x190&maptype=roadmap&markers=color:red%7Clabel:X%7C"+@event.location.latitude+","+@event.location.longitude+"&sensor=false" %>
<% content_for :sidebar do %>
  <%= render "sidebars/newsletter_signup" %>
<% end %>

<% if signed_in?%>
    <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
      <%= link_to 'Edit', edit_event_path(@event) %> | <%= link_to 'Back', events_path %>
    <% end %>
<% end %>



<% if @event.start.strftime("%b %d" ) == @event.end.strftime("%b %d") %>
<div class="calendar-css" style="float: right;">
  <div class="calendar_year">
    <%= @event.start.strftime("%Y") %>
  </div>
  <div class="calendar_month">
    <%= @event.start.strftime("%b") %>
  </div>
  <div class="calendar_day">
    <%= @event.start.strftime("%A") %>
  </div>
  <div class="calendar_date">
    <%= @event.start.strftime("%d") %>
  </div>
</div>
<% else %>
<div class="row" style="width: 225px; float: right;">
<div class="calendar-css" style="float: left;">
  <div class="calendar_year">
    <%= @event.start.strftime("%Y") %>
  </div>
  <div class="calendar_month">
    <%= @event.start.strftime("%b") %>
  </div>
  <div class="calendar_day">
    <%= @event.start.strftime("%A") %>
  </div>
  <div class="calendar_date">
    <%= @event.start.strftime("%d") %>
  </div>
</div>
<span style="float: left; font-size: 3em; margin: 1.25em 0 0 0;">&#8211; </span>
<div class="calendar-css">
  <div class="calendar_year">
    <%= @event.end.strftime("%Y") %>
  </div>
  <div class="calendar_month">
    <%= @event.end.strftime("%b") %>
  </div>
  <div class="calendar_day">
    <%= @event.end.strftime("%A") %>
  </div>
  <div class="calendar_date">
    <%= @event.end.strftime("%d") %>
  </div>
</div>
</div>
<% end %>

<h1><%= @event.title %></h1>
<% if @event.event_statuses_id == 2 %> <span class="error" style="display: inline;"><strong>--Tentative</strong></span><% end %>
<p><b>When:</b>
<% if @event.start.strftime("%b %d" ) == @event.end.strftime("%b %d") %>
  <%= @event.start.strftime("%b %d, %Y | %H:%M %p") %> - <%= @event.end.strftime("%H:%M %p") %></p>
<% else %>
  <% if @event.start.strftime("%b") == @event.end.strftime("%b") %>
    <%= @event.start.strftime("%b %d") %>-<%= @event.end.strftime("%d, %Y") %>
  <% else %>
    <%= @event.start.strftime("%b %d") %>-<%= @event.end.strftime("%b %d, %Y") %>
  <% end %>
<% end %>

<p><b>What:</b> <%= @event.event_type.title%></p>

  <% if @event.location.latitude? %>
    <div style="float: right; border: 1px solid #ccc; margin: 0 0 1em 1em;"><%= link_to image_tag(map_url), "http://maps.google.com/maps?q="+@event.location.latitude+",+"+@event.location.longitude, :target => "_blank" %></div>
  <% end %>
  
<p><b>Where:</b> <%= @event.location.short_name %> - <%= @event.location.city %>, <%= @event.location.state %></p>

<p><b>Rides?:</b> <% if @event.rides_available? %>Yes - Rides are available! <a href="/living_flight_history_experience">Learn more</a><% else %>Rides not available at this event.<% end %></p>


<% if @event.URL? %>
<p>
  <b>Website:</b>
  <%= link_to @event.URL, @event.URL, :target => "_blank" %>
</p>
<% end %>

<% if @event.contact_info? %>
<p>
  <b>Contact info:</b>
  <%= @event.contact_info %>
</p>
<% end %>

<% if @event.graphic_address? %>
  <div class="event_graphic"><%= image_tag(@event.graphic_address) %></div>
<% end %>

<% if @event.details? %>
  <p><%= simple_format(@event.details) %></p>
<% end %>
  
<div style="clear: both;"></div>
<hr />

<% if @event.flight_roster == true  %>

<% if current_user %>

<h2>Members Info:</h2>

<% if !@event.trip.blank? %>

<table width="500" class="table_border">
  <tr>
    <th colspan="2">Trip Details:</th>
  </tr>
  <tr class="odd_row">
    <td width="150">Crew arrival:</td>
    <% if !@event.trip.crew_arrival.blank? %>
      <td><strong><%= @event.trip.crew_arrival.strftime("%b %d - %H:%M") %></strong></td>
    <% else %>
      <td><strong>n/a</strong></td>
    <% end %>
  </tr>
  <tr class="even_row">
    <td>Tug time:</td>
    <% if !@event.trip.tug_time.nil? %>
      <td><strong><%= @event.trip.tug_time.strftime("%b %d - %H:%M") %></strong></td>
    <% else %>
      <td><strong>n/a</strong></td>
    <% end %>
  </tr>
  <tr class="odd_row">
    <td>Wheels up:</td>
    <td><strong><%= @event.trip.wheels_up.strftime("%b %d - %H:%M") %></strong></td>
  </tr>
  <tr class="even_row">
    <td>Destination ETA:</td>
    <% if !@event.trip.destination_eta.nil? %>
      <td><strong><%= @event.trip.destination_eta.strftime("%b %d - %H:%M") %></strong></td>
    <% else %>
      <td><strong>n/a</strong></td>
    <% end %>
  </tr>
  <tr class="odd_row">
    <td>Return ETA:</td>
    <% if !@event.trip.return_eta.nil? %>
      <td><strong><%= @event.trip.return_eta.strftime("%b %d - %H:%M") %></strong></td>
    <% else %>
      <td><strong>n/a</strong></td>
    <% end %>
  </tr>
  <tr class="even_row">
    <td>Notes:</td>
    <td><%= @event.trip.notes %></td>
  </tr>
</table>
<% else %>
<p>No trip details yet...</p>
<% end %>

<% if signed_in?%>
    <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
<% if !@event.trip.blank? %>
  <%= link_to 'Edit Trip', edit_trip_path(@event.trip) %>
<% else %>
  <%= link_to 'Add Trip Details', new_trip_path(:event_id => @event) %>
<% end %>
  | <%= link_to 'Create Manifest', manifest_path(:event_id => @event) %>
<% end %>
<% end %>

<div class="signup_box">
<strong>Put me on the List for this airshow:</strong>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "member"} %>
    <div class="signup_buttons">
      <%= button_to 'Definite', {:controller => :event_signups, :action => :signup, :member_id => current_user.member, :event_id => @event.id, :commitment_level => 'Definite', :position => 0 } %>
      <%= button_to 'Maybe',    {:controller => :event_signups, :action => :signup, :member_id => current_user.member, :event_id => @event.id, :commitment_level => 'Maybe', :position => 0  } %>
    </div>
  <% end %>
<span style="font-style: italic;font-size:0.85em;">Your name will be entered on the list below, you can change your commitment or remove yourself at any time. Signing up only indicates your availability and desire to participate. Final roster at discretion of pilots.</em>
</div>

<table  id="manifest_list" width="500" class="table_border">
  <tr>
    <th>Name</th>
    <th>Col. No.</th>
    <th>Commitment</th>
    <th>Sign-up Date (UTC)</th>
  </tr>

<% @event.event_signups.ordered.each do |event_signup| %>
  <tr id="item_<%= event_signup.id %>" class="<%= cycle('odd_row', 'even_row') %>">
    <td><%= event_signup.member.last_name %>, <%= event_signup.member.first_name %></td>
    <td><%= event_signup.member.caf_col_no %></td>
    <td><%= event_signup.commitment_level %>
      <% if event_signup.member.user == current_user %>
        <span style="font-size: 0.75em;"><%= link_to "[change]", edit_signup_path(event_signup) %></span>     
      <% end %>
    </td>
    <td><%= event_signup.created_at.strftime("%b %d, %Y %H:%M %p") %></td>
  </tr>
  <% if email_addresses == "" %>
    <% email_addresses = email_addresses + event_signup.member.user.email %>
  <% else %>
    <% email_addresses = email_addresses + "," + event_signup.member.user.email %>
  <% end %>
<% end %>
</table>
<% end %>
<% end %>

<% if signed_in?%>
    <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
      <p><strong>Email list for admin:</strong></p>
      <p><%= email_addresses %></p>
<% end %>
<% end %>

<% if @event.rsvp == true  %>
<% if current_user %>

<div class="signup_box">
<strong>RSVP for this event:</strong>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "member"} %>
    <div class="signup_buttons">
      <%= button_to 'Yes', {:controller => :attendances, :action => :signup, :member_id => current_user.member, :event_id => @event.id, :commitment_level => 'Definite'  } %>
      <%= button_to 'Maybe', {:controller => :attendances, :action => :signup, :member_id => current_user.member, :event_id => @event.id, :commitment_level => 'Maybe'  } %>
    </div>
  <% end %>
<span style="font-style: italic;font-size:0.85em;">Your name will be entered on the list below, you can remove yourself at any time.</em>
</div>

<p>Total RSVPs: <%= @event.attendances.size %> - Definite: <%= @event.attendances.definite.size %>
<% if @event.attendances.maybe.size.to_i > 0 %>
  , Maybe: <%= @event.attendances.maybe.size %>
<% end %>
<% if @event.attendances.canceled.size.to_i > 0 %>
  , Cancelations: <%= @event.attendances.canceled.size %>
<% end %>
</p>

<table width="500" class="table_border" >
  <tr>
    <th>Name</th>
    <th>Col. No.</th>
    <th>Commitment</th>
    <th>Sign-up Date (UTC)</th>
  </tr>

<% @event.attendances.ordered.each do |attendance| %>
  <tr class="<%= cycle('odd_row', 'even_row') %>">
    <td><%= attendance.member.last_name %>, <%= attendance.member.first_name %></td>
    <td><%= attendance.member.caf_col_no %></td>
    <td><%= attendance.commitment_level %>
      <% if attendance.member.user == current_user %>
        <span style="font-size: 0.75em;"><%= link_to "[change]", edit_rsvp_path(attendance) %></span>     
      <% end %>
    </td>
    <td><%= attendance.created_at.strftime("%b %d, %Y %H:%M %p") %></td>
  </tr>
<% end %>
</table>

<% end %>
<% end %>
