<% email_addresses = "" %>

<% map_url = "https://maps.googleapis.com/maps/api/staticmap?center="+@event.location.latitude+","+@event.location.longitude+"&zoom=11&size=400x400&maptype=roadmap&markers=color:red%7Clabel:1%7C"+@event.location.latitude+","+@event.location.longitude+"&key=AIzaSyBTLIEMHnR7-4zunQEj0NYdn0r8e7_fkig" %>

<%= link_to 'Back to Calendar', events_path %>


<% if @event.graphic_address? %>
  <div class="event_graphic"><%= image_tag(@event.graphic_address) %></div>
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-7">
      <h1><%= @event.title %></h1>
    <% if @event.graphic_address? %>
      <div class="event_graphic"><%= image_tag '/uploads/misc_images/' +@event.graphic_address, :class => 'event-graphic'  %></div>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-5">
    <div class='row'>
      <% if @event.start.strftime("%b %d" ) == @event.end.strftime("%b %d") %>
      <div class="col-xs-12">
        <div class="calendar">
          <div class="calendar_year">
            <%= @event.start.strftime("%Y") %>
          </div>
          <div class="calendar_month">
            <%= @event.start.strftime("%b") %>
          </div>
          <div class="calendar_day">
            <%= @event.start.strftime("%A") %>
          </div>
          <div class="calendar_date">
            <%= @event.start.strftime("%d") %>
          </div>
        </div>
        <% else %>
        <div class="col-xs-6 col-sm-6">
          <div class="calendar">
            <div class="calendar_year">
              <%= @event.start.strftime("%Y") %>
            </div>
            <div class="calendar_month">
              <%= @event.start.strftime("%b") %>
            </div>
            <div class="calendar_day">
              <%= @event.start.strftime("%A") %>
            </div>
            <div class="calendar_date">
              <%= @event.start.strftime("%d") %>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6">
          <div class="calendar">
            <div class="calendar_year">
              <%= @event.end.strftime("%Y") %>
            </div>
            <div class="calendar_month">
              <%= @event.end.strftime("%b") %>
            </div>
            <div class="calendar_day">
              <%= @event.end.strftime("%A") %>
            </div>
            <div class="calendar_date">
              <%= @event.end.strftime("%d") %>
            </div>
          </div>
      <% end %>
      </div>
      </div>
      </div>
</div>

<div class="row">
  <div class="col-sm-7">
    <% if @event.event_statuses_id == 2 %> <div class="event-flag">Tentative</div><% end %>
    <p><b>What:</b> <%= @event.event_type.title%></p>

    <p><b>When:</b>
    <% if @event.start.strftime("%b %d" ) == @event.end.strftime("%b %d") %>
      <%= @event.start.strftime("%b %d, %Y | %H:%M %p") %> - <%= @event.end.strftime("%H:%M %p") %></p>
    <% else %>
      <% if @event.start.strftime("%b") == @event.end.strftime("%b") %>
        <%= @event.start.strftime("%b %d") %>-<%= @event.end.strftime("%d, %Y") %>
      <% else %>
        <%= @event.start.strftime("%b %d") %>-<%= @event.end.strftime("%b %d, %Y") %>
      <% end %>
    <% end %>


    <p><b>Where:</b> <%= @event.location.short_name %> - <%= @event.location.city %>, <%= @event.location.state %></p>

    <p><b>Rides?:</b> 

    <% if @event.rides_available? %>
     Yes - Rides are available! </p>
      <% if !@event.lhfe_flights.empty? %>
        <ul>
          <% @event.lhfe_flights.each do |flight| %>
            <li><%= link_to flight.flight_start_time.strftime("%A @ %I:%M %p"), lhfe_flight_path(flight) %></li>
          <% end %>
        </ul>
      <% end %>
<% else %>
 Rides not available at this event. Check for other <%= link_to "upcoming ride opportunities", living_history_flight_experience_path %>.</p>
    <% end %>

    <% if @event.URL? %>
    <p>
      <b>Event Website:</b>
      <%= link_to @event.URL, @event.URL, :target => "_blank" %>
    </p>
    <% end %>

    <% if @event.contact_info? %>
      <p>
        <b>Contact info:</b>
        <%= @event.contact_info %>
      </p>
    <% end %>

    <% if @event.details? %>
      <p><%= simple_format(@event.details) %></p>
    <% end %>
  </div>
  <div class="col-sm-5">
  <% if @event.location.latitude? %>
    <div class="map-image">
    <%= link_to image_tag("https://maps.googleapis.com/maps/api/staticmap?center="+@event.location.latitude+","+@event.location.longitude+"&zoom=11&size=400x400&maptype=roadmap&markers=color:red%7Clabel:1%7C"+@event.location.latitude+","+@event.location.longitude+"&key=AIzaSyBTLIEMHnR7-4zunQEj0NYdn0r8e7_fkig", :alt => "map"), raw("https://www.google.com/maps/place/" + @event.location.latitude + ' ' + @event.location.longitude + "/@" + @event.location.latitude + "," + @event.location.longitude + ",13z/"), :target => "_blank" %>

    </div>
  <% end %>
  </div>
</div>

<div style="clear: both;"></div>

<hr />
<% if signed_in?%>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
    <div class="admin-section" >
      <div class='row'>
        <div class='col-sm-12'>
            <p class="admin_heading">Admin</p>
            <p class="form_note admin_heading">You are seeing this admin area because you are logged in with admin privileges.</p>
            <div class='row' style="padding-top:1em;">
              <div class="col-xs-3">
                <%= button_to 'Edit Event', edit_event_path(@event), method: :get, :class => "btn-default btn" %>
              </div>
              <% if !@event.trip.blank? %>
              <div class="col-xs-3">
                <%= button_to 'Edit Trip', edit_trip_path(@event.trip), method: :get, :class => "btn-default btn" %>
              </div>
              <% else %>
              <div class="col-xs-3">
                <%= button_to 'Add Trip Details', new_trip_path(:event_id => @event), :class => "btn-default btn" %>
              </div>
              <div class="col-xs-3">
                <%= button_to 'Add LHFE Flight', new_lhfe_flight_path(:event_id => @event), :class => "btn-default btn" %>
              </div>
              <% end %>              
              <div class="col-xs-3">
                <%= button_to 'Create Manifest', manifest_path(:event_id => @event), method: :get, :class => "btn-default btn" %>
              </div>
            </div>
        </div>
      </div>
    </div> 
  <% end %>
<% end %>

<% if @event.flight_roster == true  %>

<% if current_user %>

<h2>Members Info:</h2>


  <% if @event.location.latitude? %>
    <div class="map-image">
    <%= image_tag("https://vfrmap.com/api?req=map&type=sectc&lat=" + @event.location.latitude + "&lon=" + @event.location.longitude + "&zoom=10&width=350&height=350") %>
    </div>
  <% end %>



<% if !@event.trip.blank? %>

<table width="500" class="table_border">
  <tr>
    <th colspan="2">Trip Details:</th>
  </tr>
  <tr class="odd_row">
    <td width="150">Crew arrival:</td>
    <% if !@event.trip.crew_arrival.blank? %>
      <td><strong><%= @event.trip.crew_arrival.strftime("%b %d - %H:%M") %></strong></td>
    <% else %>
      <td><strong>n/a</strong></td>
    <% end %>
  </tr>
  <tr class="even_row">
    <td>Tug time:</td>
    <% if !@event.trip.tug_time.nil? %>
      <td><strong><%= @event.trip.tug_time.strftime("%b %d - %H:%M") %></strong></td>
    <% else %>
      <td><strong>n/a</strong></td>
    <% end %>
  </tr>
  <tr class="odd_row">
    <td>Wheels up:</td>
    <td><strong><%= @event.trip.wheels_up.strftime("%b %d - %H:%M") %></strong></td>
  </tr>
  <tr class="even_row">
    <td>Destination ETA:</td>
    <% if !@event.trip.destination_eta.nil? %>
      <td><strong><%= @event.trip.destination_eta.strftime("%b %d - %H:%M") %></strong></td>
    <% else %>
      <td><strong>n/a</strong></td>
    <% end %>
  </tr>
  <tr class="odd_row">
    <td>Return ETA:</td>
    <% if !@event.trip.return_eta.nil? %>
      <td><strong><%= @event.trip.return_eta.strftime("%b %d - %H:%M") %></strong></td>
    <% else %>
      <td><strong>n/a</strong></td>
    <% end %>
  </tr>
  <tr class="even_row">
    <td>Notes:</td>
    <td><%= markdown @event.trip.notes %></td>
  </tr>
</table>
<% else %>
<p>No trip details yet...</p>
<% end %>


<% if signed_in?%>

<div class="col-xs-12">
  <% if current_user.roles.any? {|role| role.name == "admin" or role.name == "member"} %>
    <% @members_array = @event.event_signups.map{|x| x[:member_id]} %>
    <% if @members_array.include? current_user.member.id %>
<div class="signup_box" style = "border: 1px solid #999;padding:0 0.5em 0.5em;background: #eee; border-radius: 3px;margin-bottom: 1em;">
      <p><strong>You're signed up!</strong>
      <% @event.event_signups.ordered.each_with_index do |sign_up, i| %>
        <% if sign_up.member_id == current_user.member.id %>
        You signed up for this trip <%= sign_up.created_at.strftime("%b %-d, %Y")%> with a commitment of  <%= sign_up.commitment_level %> and are <%= (i + 1).ordinalize %> on the list.</p>
</div>
        <% end %>

      <% end %>
    <% else %>
    <% if @event.event_type_id == 2 %>

<div class="signup_box" style = "border: 1px solid #999;padding:0 0.5em 0.5em;background: #eee; border-radius: 3px; margin-bottom: 1em;">
<p>Put me on the signup list for this airshow:</p>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "member"} %>
<div class='row'>
  <div class="col-xs-6 col-sm-3 col-sm-offset-3 col-md-3 col-md-offset-4">
    <%= button_to 'Definite', {:controller => :event_signups, :action => :signup, :member_id => current_user.member, :event_id => @event.id, :commitment_level => 'Definite', :position => 0 },:class => "btn-default btn btn-big btn-success" %>
  </div>
  <div class="col-xs-6 col-sm-3">
      <%= button_to 'Maybe',    {:controller => :event_signups, :action => :signup, :member_id => current_user.member, :event_id => @event.id, :commitment_level => 'Maybe', :position => 0 },:class => "btn-default btn btn-big btn-warning" %>
  </div>
</div>
<p style="font-style: italic;font-size:0.85em;">Your name will be entered on the list below, you can change your commitment or remove yourself at any time. Signing up only indicates your availability and desire to participate. Final roster at discretion of pilots.</p>

<% end %>
  </div>
  
    <% end %>
    <% end %>
 <% end %>
  </div>

<% end %>




<p>Total RSVPs: <%= @event.event_signups.size %> - Definite: <%= @event.event_signups.definite.size %>
<% if @event.event_signups.maybe.size.to_i > 0 %>
  , Maybe: <%= @event.event_signups.maybe.size %>
<% end %>
<% if @event.event_signups.canceled.size.to_i > 0 %>
  , Cancelations: <%= @event.event_signups.canceled.size %>
<% end %>
</p>


<table id="manifest_list">
  <tr>
    <th>Line</th>
    <th>Name</th>
    <th>Col. No.</th>
    <th>Commitment</th>
    <th>Sign-up Date (UTC)</th>
  </tr>

<% @event.event_signups.ordered.each_with_index do |event_signup, i| %>
  <tr id="item_<%= event_signup.id %>" class="<%= cycle('odd_row', 'even_row') %>">
    <td><%= i + 1 %></td>
    <td><%= event_signup.member.last_name %>, <%= event_signup.member.first_name %></td>
    <td><%= event_signup.member.caf_col_no %></td>
    <td><%= event_signup.commitment_level %>
      <% if event_signup.member.user == current_user %>
        <span style="font-size: 0.75em;"><%= link_to "[change]", edit_signup_path(event_signup) %></span>     
      <% end %>
    </td>
    <td><%= event_signup.created_at.strftime("%b %d, %Y %H:%M %p") %></td>
  </tr>
  <% if email_addresses == "" %>
    <% email_addresses = email_addresses + event_signup.member.user.email %>
  <% else %>
    <% email_addresses = email_addresses + ", " + event_signup.member.user.email %>
  <% end %>
<% end %>
</table>
<p class="tiny-text"><em>Devil Dog has 10 seats</em></p>
<% end %>
<% end %>

<% if signed_in?%>
    <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
      <p><strong>Email list for admin:</strong></p>
      <p><%= email_addresses %></p>
<% end %>
<% end %>

<% if @event.rsvp == true  %>
<% if current_user %>
<div class="signup_box">
<h3>RSVP for this event:</h3>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "member"} %>
<div class='row'>
  <div class="col-xs-4  col-xs-offset-2 col-sm-2 col-sm-offset-0">
    <%= button_to 'Definite', {:controller => :attendances, :action => :signup, :member_id => current_user.member, :event_id => @event.id, :commitment_level => 'Definite', :position => 0 },:class => "btn-default btn btn-big btn-success" %>
  </div>
  <div class="col-xs-6 col-sm-2">
      <%= button_to 'Maybe',    {:controller => :attendances, :action => :signup, :member_id => current_user.member, :event_id => @event.id, :commitment_level => 'Maybe', :position => 0 },:class => "btn-default btn btn-big btn-warning" %>
  </div>
</div>
<% end %>

<p style="font-style: italic;font-size:0.85em;">Your name will be entered on the list below, you can change your commitment or remove yourself at any time. Signing up only indicates your availability and desire to participate. Final roster at discretion of pilots.</p>
</div>

<p>Total RSVPs: <%= @event.attendances.size %> - Definite: <%= @event.attendances.definite.size %>
<% if @event.attendances.maybe.size.to_i > 0 %>
  , Maybe: <%= @event.attendances.maybe.size %>
<% end %>
<% if @event.attendances.canceled.size.to_i > 0 %>
  , Cancelations: <%= @event.attendances.canceled.size %>
<% end %>
</p>

<table>
  <tr>
    <th>Line</th>
    <th>Name</th>
    <th>Col. No.</th>
    <th>Commitment</th>
    <th>Sign-up Date (UTC)</th>
  </tr>

<% @event.attendances.ordered.each_with_index do |attendance, i| %>
  <tr class="<%= cycle('odd_row', 'even_row') %>">
    <td><%= i + 1 %></td>
    <td><%= attendance.member.last_name %>, <%= attendance.member.first_name %></td>
    <td><%= attendance.member.caf_col_no %></td>
    <td><%= attendance.commitment_level %>
      <% if attendance.member.user == current_user %>
        <span style="font-size: 0.75em;"><%= link_to "[change]", edit_rsvp_path(attendance) %></span>     
      <% end %>
    </td>
    <td><%= attendance.created_at.strftime("%b %d, %Y %H:%M %p") %></td>
  </tr>
<% end %>
</table>

<% end %>
<% end %>
