<% content_for :sidebar do %>
  <%= render "sidebars/newsletter_signup" %>
<% end %>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div id="calendar">
  <div id="calendar_year">
    <%= @event.start.strftime("%Y") %>
  </div>
  <div id="calendar_month">
    <%= @event.start.strftime("%b") %>
  </div>
  <div id="calendar_day">
    <%= @event.start.strftime("%A") %>
  </div>
  <div id="calendar_date">
    <%= @event.start.strftime("%-d") %>
  </div>
</div>

<h1><%= @event.title %></h1>

<p><b>When:</b>
<% if @event.start.strftime("%b %d, %Y" ) == @event.end.strftime("%b %d, %Y") %>
  <%= @event.start.strftime("%b %d, %Y | %H:%M %p") %> - <%= @event.end.strftime("%H:%M %p") %></p>
<% else %>
  <%= @event.start.strftime("%b %d, %Y") %> - <%= @event.end.strftime("%b %d, %Y") %> | <%= @event.start.strftime("%H:%M %p") %> - <%= @event.end.strftime("%H:%M %p") %></p>
<% end %>

<p><b>What:</b> <%= @event.event_type.title%></p>

<p><b>Where:</b> <%= @event.location.short_name %> - <%= @event.location.city %>, <%= @event.location.state %>
  <% if @event.location.latitude? %>
    [<%= link_to 'Google Map', "http://maps.google.com/maps?q="+@event.location.latitude+",+"+@event.location.longitude, :target => "_blank" %>]
  <% end %>
</p>



<% if @event.URL? %>
<p>
  <b>Website:</b>
  <%= link_to @event.URL, @event.URL, :target => "_blank" %>
</p>
<% end %>

<% if @event.contact_info? %>
<p>
  <b>Contact info:</b>
  <%= @event.contact_info %>
</p>
<% end %>

<% if @event.graphic_address? %>
  <div class="event_graphic"><%= image_tag(@event.graphic_address) %></div>
<% end %>

<% if @event.details? %>
  <p><%= sanitize(@event.details) %></p>
<% end %>
<%#=  User.find(session[:current_user]).member.last_name %>
<br />
<% if session[:current_user] %>

<p>Put me on the List</p>
  <% if User.find(session[:current_user]).roles.first.name == 'member' %>
    <%= button_to 'Definite', event_signups_path(:member_id =>User.find(session[:current_user]).member, :event_id => @event.id, :commitment_level => 'Definite') %>
    <%= button_to 'Maybe', event_signups_path(:member_id =>User.find(session[:current_user]).member, :event_id => @event.id, :commitment_level => 'Maybe') %>
  <% end %>

<% end %>

<table width="500" class="table_border">
  <tr>
    <th>Name</th>
    <th>Commitment</th>
    <th>Sign-up Date</th>
  </tr>

<% @event.event_signups.each do |event_signup| %>
  <tr class="<%= cycle('odd_row', 'even_row') %>">
    <td><%= event_signup.member.last_name %>, <%= event_signup.member.first_name %></td>
    <td><%= event_signup.commitment_level %></td>
    <td><%= event_signup.created_at.strftime("%b %d, %Y") %></td>
  </tr>
<% end %>
</table>


<br /><br />

<% if session[:current_user] %>
    <% if User.find(session[:current_user]).roles.first.name == 'superuser' %>
      <%= link_to 'Edit', edit_event_path(@event) %> |
      <%= link_to 'Back', events_path %> | 
      <%= link_to 'Logout', logout_path, :method => :delete	%>
    <% end %>
<% end %>
