
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyA2CUo-V9LEi2YuJvh6F_Sf7NkmpXnC4yE"
      type="text/javascript"></script>

<% map_url = "http://maps.googleapis.com/maps/api/staticmap?zoom=8&size=275x190&maptype=roadmap&markers=color:red%7Clabel:X%7C"+@event.location.latitude+","+@event.location.longitude+"&sensor=false" %>
<% content_for :sidebar do %>
  <%= render "sidebars/newsletter_signup" %>
<% end %>

<% if signed_in?%>
    <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
      <%= link_to 'Edit', edit_event_path(@event) %> | <%= link_to 'Back', events_path %>
    <% end %>
<% end %>

<div id="calendar">
  <div id="calendar_year">
    <%= @event.start.strftime("%Y") %>
  </div>
  <div id="calendar_month">
    <%= @event.start.strftime("%b") %>
  </div>
  <div id="calendar_day">
    <%= @event.start.strftime("%A") %>
  </div>
  <div id="calendar_date">
    <%= @event.start.strftime("%d") %>
  </div>
</div>

<h1><%= @event.title %></h1>
<% if @event.event_statuses_id == 2 %> <span class="error" style="display: inline;"><strong>--Tentative</strong></span><% end %>
<p><b>When:</b>
<% if @event.start.strftime("%b %d, %Y" ) == @event.end.strftime("%b %d, %Y") %>
  <%= @event.start.strftime("%b %d, %Y | %H:%M %p") %> - <%= @event.end.strftime("%H:%M %p") %></p>
<% else %>
  <%= @event.start.strftime("%b %d, %Y") %> - <%= @event.end.strftime("%b %d, %Y") %> | <%= @event.start.strftime("%H:%M %p") %> - <%= @event.end.strftime("%H:%M %p") %></p>
<% end %>

<p><b>What:</b> <%= @event.event_type.title%></p>

  <% if @event.location.latitude? %>
    <div style="float: right; border: 1px solid #ccc; margin: 0 0 1em 1em;"><%= link_to image_tag(map_url), "http://maps.google.com/maps?q="+@event.location.latitude+",+"+@event.location.longitude, :target => "_blank" %></div>
  <% end %>
  
<p><b>Where:</b> <%= @event.location.short_name %> - <%= @event.location.city %>, <%= @event.location.state %></p>

<% if @event.URL? %>
<p>
  <b>Website:</b>
  <%= link_to @event.URL, @event.URL, :target => "_blank" %>
</p>
<% end %>

<% if @event.contact_info? %>
<p>
  <b>Contact info:</b>
  <%= @event.contact_info %>
</p>
<% end %>

<% if @event.graphic_address? %>
  <div class="event_graphic"><%= image_tag(@event.graphic_address, :width => '500px') %></div>
<% end %>

<% if @event.details? %>
  <p><%= sanitize(@event.details) %></p>
<% end %>
  
<div style="clear: both;"></div>
<hr />

<% if @event.event_type.title == "Air Show" %>

<% if current_user %>

<p>Put me on the List for this airshow</p>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "member"} %>
    <div class="signup_buttons">
      <%= button_to 'Definite', {:controller => :event_signups, :action => :signup, :member_id => current_user.member, :event_id => @event.id, :commitment_level => 'Definite' } %>
      <%= button_to 'Maybe',    {:controller => :event_signups, :action => :signup, :member_id => current_user.member, :event_id => @event.id, :commitment_level => 'Maybe' } %>
    </div>
  <% end %>



<table width="500" class="table_border">
  <tr>
    <th>Name</th>
    <th>Col. No.</th>
    <th>Commitment</th>
    <th>Sign-up Date</th>
  </tr>

<% @event.event_signups.ordered.each do |event_signup| %>
  <tr class="<%= cycle('odd_row', 'even_row') %>">
    <td><%= event_signup.member.last_name %>, <%= event_signup.member.first_name %></td>
    <td><%= event_signup.member.caf_col_no %></td>
    <td><%= event_signup.commitment_level %></td>
    <td><%= event_signup.created_at.strftime("%b %d, %Y %H:%M %p") %></td>
  </tr>
<% end %>
</table>
<% end %>
<% end %>
