<%= form_for(@news) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date, :order => [:month, :day, :year] %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source, :size => 70 %>
  </div>
  <div class="field">
    <%= f.label :ext_url %><br />
    <%= f.text_field :ext_url, :size => 70 %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => 70 %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :rows => 20, :cols => 70 %>
  </div>
  <div class="actions">
    <%= f.submit :data => { :disable_with => "Submitting..." } %>
  </div>
<% end %>
