<h1>Devil Dog News</h1>

<table>
    <tr> 
        <th style="width: 105px;">Date</th>
        <th >Headline</th>
        <th style="width: 115px;">Source</th>
    </tr>
    <% @current_news.each do |news| %>
   <tr class="<%= cycle('plain_row', 'colored_row') %>">
        <td class="top-align" ><%= news.date.strftime("%b %d, %Y") %></td>
        <td class="top-align headline" ><%= link_to news.title, if !news.content.empty? then news else news.ext_url end %></td>
        <td class="top-align" ><%= news.source %></td>
    </tr>
<% end %>
</table>

<% if !@archive_news.empty? %>
<hr />
<% reset_cycle %>
<h2>News Archive</h2>
<table>
    <tr> 
        <th style="width: 105px;">Date</th>
        <th >Headline</th>
        <th style="width: 115px;">Source</th>
    </tr>
    <% @archive_news.each do |news| %>
   <tr class="<%= cycle('plain_row', 'colored_row') %>">
        <td class="top-align" ><%= news.date.strftime("%b %d, %Y") %></td>
        <td class="top-align headline" ><%= link_to news.title, if !news.content.empty? then news else news.ext_url end %></td>
        <td class="top-align" ><%= news.source %></td>
    </tr>
<% end %>
</table>
<% end %>

<% if signed_in?%>
    <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
       <%= link_to 'New News Item', new_news_path %>
    <% end %>
<% end %>