<h1>Devil Dog News:</h1>
 
<table>
    <tr> 
        <th>Date</th>
        <th>Headline</th>
        <th>Source</th>
    </tr>
    <% @news.each do |news| %>
       <tr class="<%= cycle('odd-row', 'even-row') %>">
        <td><%= news.date.strftime("%b %d, %Y") %></td>
        <td><%= link_to news.title, if !news.content.empty? then news else news.ext_url end %></td>
        <td><%= news.source %></td>
    </tr>
<% end %>
</table>

<% content_for :sidebar do %>
  <%= render "sidebars/newsletter_signup" %>
<% end %>
