<p align="right"><%= @news.date.strftime("%b %d, %Y") %></p>

<h1><%= @news.title %></h1>

  <%= simple_format(@news.content) %>

<% if signed_in?%>
    <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
       <%= link_to 'Edit', edit_news_path(@news) %> | <%= link_to 'Back', news_index_path %>
    <% end %>
<% end %>