<p align="right"><%= @news.date.strftime("%b %d, %Y") %></p>

<h1><%= @news.title %></h1>

  <%= simple_format(@news.content) %>

<% if session[:user_id] %>
<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
<% end %>
