<%= form_for(@test_submission) do |f| %>
  <% if @test_submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_submission.errors.count, "error") %> prohibited this test_submission from being saved:</h2>

      <ul>
      <% @test_submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<hr />

<p><em>Answer each of the following <%= @knowledge_test.test_questions.count %> questions (there is only one correct answer to each question).</em></p>


<% @knowledge_test.test_questions.ordered.each do |test_question| %>

    <p class="question"><%= test_question.question_no %>.) <%= sanitize(test_question.question) %></p>

<%= f.fields_for :test_submission_responses do |builder| %>
  <% test_question.test_answers.ordered.each_with_index do |test_answer, i| %>
<% if i == 0 || i % 2 == 0 %>
<div class="answer_row">
<% end %>
  <p class="answers">
    <label>
    <%= builder.radio_button :test_answer_id, test_answer.id %>
    <%= builder.label :test_answer_id, test_answer.answer_letter + ".  " + test_answer.answer %>
    </label>
  </p>
<% if i > 0 && i % 2 != 0 %>
<!-- close answer_row div -->
</div>
 <% end %>
 <% end %>

<% end %>
<div class="clearer"></div>
<% end %>


<hr />

<%= f.hidden_field :knowledge_test_id, :value => @knowledge_test.id %>


<%#= f.hidden_field :customer_id, :value => @customer.id %>



  <div class="actions">
    <%#= f.submit %>
   <%= submit_tag "Grade Test", :class => 'big_button' %>
  </div>
To grade the test and check your answers click the Grade Test button.






<% end %>
