<h1>Listing Dues Reminders</h1>

<table class="table_border">
  <tr>
    <th>Member</th>
    <th>Notice name</th>
    <th>Sent to</th>
    <th>Date sent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dues_reminders.each do |dues_reminder| %>
  <tr>
    <td><% if dues_reminder.member %><%= dues_reminder.member.first_name %> <%= dues_reminder.member.last_name %><% end %></td>
    <td><%= dues_reminder.notice_name %></td>
    <td><%= dues_reminder.sent_to %></td>
    <td><%= dues_reminder.created_at.strftime("%Y-%m-%d %H:%M") %></td>
    <td><%= link_to 'Show', dues_reminder %></td>
    <td><%= link_to 'Edit', edit_dues_reminder_path(dues_reminder) %></td>
    <td><%= link_to 'Destroy', dues_reminder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dues reminder', new_dues_reminder_path %>
