<div class="home-right-box">

<h1>Calendar</h1>
<br />
<% @events.each do |event| %>
<div class="calendar_row" style="width: 90%; padding-top: 0.25em">
  <div class="cell" style="width: 30%;">
    <% if event.start.strftime("%b %d" ) == event.end.strftime("%b %d") %>
    <div class="calendar-ii" style="margin: 0 0 0 2.5em;">
      <div class="calendar_month-ii"><%= event.start.strftime("%b") %></div>
      <div class="calendar_date-ii"><%= event.start.strftime("%d") %></div>
    </div>
    <% else %>
    <div class="calendar-ii" style="float: left;">
      <div class="calendar_month-ii"><%= event.start.strftime("%b") %></div>
      <div class="calendar_date-ii"><%= event.start.strftime("%d") %></div>
    </div>
    <span style="float: left; font-size: 1em;margin: 0.5em 0 0 0;">&#8211; </span>
    <div class="calendar-ii">
      <div class="calendar_month-ii"><%= event.end.strftime("%b") %></div>
      <div class="calendar_date-ii"><%= event.end.strftime("%d") %></div>
    </div>
    <% end %>
  </div>
    <%= link_to event.title, event %><br />
    
      <% if event.details.length > 100 %>
        <%= truncate(event.details, :length => 30, :separator => ' ') %> <em><%= link_to "more", event %></em>
      <% else %>
        <%= event.details %>
      <% end %>
    
</div>
<% end %>

<div align="right"><p><%= link_to "See all calendar events...", calendar_path %></p></div>

</div>
