<div class="hp-copy">

<h1>Upcoming Events</h1>
<br />
<% if !@events.blank? %>
<% @events.each do |event| %>
<div class="calendar_row">
<div class='row'>
<div class="col-xs-12 col-sm-4">
<div class='row'>
  <% if event.start.strftime("%b %d" ) == event.end.strftime("%b %d") %>
<div class="col-xs-12">
  <div class="calendar">
    <div class="calendar_year">
      <%= event.start.strftime("%Y") %>
    </div>
    <div class="calendar_month">
      <%= event.start.strftime("%b") %>
    </div>
    <div class="calendar_day">
      <%= event.start.strftime("%A") %>
    </div>
    <div class="calendar_date">
      <%= event.start.strftime("%d") %>
    </div>
  </div>
  </div>
  <% else %>
  <div class="col-xs-6 col-sm-6">
    <div class="calendar">
      <div class="calendar_year">
        <%= event.start.strftime("%Y") %>
      </div>
      <div class="calendar_month">
        <%= event.start.strftime("%b") %>
      </div>
      <div class="calendar_day">
        <%= event.start.strftime("%A") %>
      </div>
      <div class="calendar_date">
        <%= event.start.strftime("%d") %>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="calendar">
      <div class="calendar_year">
        <%= event.end.strftime("%Y") %>
      </div>
      <div class="calendar_month">
        <%= event.end.strftime("%b") %>
      </div>
      <div class="calendar_day">
        <%= event.end.strftime("%A") %>
      </div>
      <div class="calendar_date">
        <%= event.end.strftime("%d") %>
      </div>
    </div>
   </div>
<% end %>
</div>


<div class="col-xs-12">
<div class="location"><%= event.location.city + ", " + event.location.state %></div>
</div>
</div>

  <div class="col-xs-12 col-sm-8">
    <h3 class="event-title"><em><strong><%= link_to event.title, event %></strong></em></h3>
    <% if event.event_statuses_id == 2 %>
      <span class="event-flag" style="display: inline;"> &lt;= Tentative</span>
    <% elsif event.event_statuses_id == 3 %>
      <span class="event-flag" style="display: inline;"> &lt;= Canceled</span>
    <% end %>
    <br />
      <% if event.details.length > 220 %>
        <%= truncate(event.details, :length => 220, :separator => ' ') %> <em><%= link_to "Go to event", event %></em>
      <% else %>
        <%= event.details %>
      <% end %>

<% if event.rides_available? %>
<p class='rides-teaser'><%= image_tag '/uploads/images/dd_illustration_flying_sm.png' %><br /><%= link_to "Devil Dog Rides available at this event !", living_history_flight_experience_path %></p>

	<% if !event.lhfe_flights.empty? %>
	  <p>Scheduled ride times:</p>
	  <ul>
      <% event.lhfe_flights.each do |flight| %>
        <li><%= link_to flight.flight_start_time.strftime("%A @ %I:%M %p"), lhfe_flight_path(flight) %></li>
      <% end %>
    </ul>
 <% end %>
<% end %>

  </div>
  </div>
  </div>

<div class="clearer"></div>
<% end %>

<% else %>
   <div class="calendar_row" style="width: 90%; padding-top: 0.25em">
     <div class="cell" style="width: 25%;">&nbsp;</div>
       No scheduled events at this time.
   </div>
<% end %>

<div align="right"><p><%= link_to "See all calendar events...", calendar_path %></p></div>

</div>
</div>
