<h1>Admin Section</h1>

<% if current_user.roles.any? {|role| role.name == "admin" } %>
<br />
<div class="indent_row">
<%= button_to "Member Admin", members_path, :method => :get %>
Add, update squadron members
<br /><br />
<%= button_to "AirShow Signups", event_signups_path, :method => :get %>
Edit Upcoming Airshow sign up lists
<br /><br />
<%= button_to "Ride Requests", ride_requests_path, :method => :get %>
List of signups for LFHE Rides
<br /><br />
<%= button_to "Trips", trips_path, :method => :get %>
Edit trip info such as trip times, financials and notes
<br /><br />
<%= button_to "PX Items", products_path, :method => :get %>
Edit/Admin PX items
<br /><br />
<%= button_to "Officers", terms_path, :method => :get %>
Record Officer positions
<br /><br />
<%= button_to "What's New", teasers_path, :method => :get %>
Edit/Admin What's New section on homepage
</div>
<% end %>

<% if current_user.roles.any? {|role| role.name == "superuser" } %>
<div class="indent_row">
<%= button_to "Rights", rights_path, :method => :get %>
Create model/operation rights
<br /><br />
<%= button_to "Grants", grants_path, :method => :get %>
Grant rights to roles
<br /><br />
<%= button_to "Roles", roles_path, :method => :get %>
Website roles
<br /><br />
<%= button_to "Users", users_path, :method => :get %>
see members website permissions and last login
<br /><br />
</div>
<% end %>