<div style="display: block;width: 100%;background: #cadbeb;padding: 4em 0;">
<%= render 'hp_about' %>
</div>

<%= render 'hp_whats_new' %>

<%= render 'hp_feed_the_dog' %>

<div style="display: block;width: 100%;background: #fff;padding: 4em 0;">
<%= render 'hp_calendar' %>
</div>

<%= render 'hp_galleries' %>

<div style="display: block;width: 100%;background: #b78d03;padding: 4em 0;">
<%= render 'hp_sponsors' %>
</div>
