<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1351035148316092',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();

FB.api(
  '/me/events',
  'GET',
  {},
  function(response) {
  if (!response) {
    alert('No response');
  } else if (response.error) {
    alert(response.error.message);
  } else {
    alert('events were found');
  }
  }

);

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

<%= render 'hp_about' %>

<%= render 'hp_whats_new' %>

<%= render 'hp_feed_the_dog' %>

<%= render 'hp_calendar' %>

<%= render 'hp_galleries' %>

<%= render 'hp_sponsors' %>
