<div id="content-hp">

<div class="row-container">

<%= render 'hp_about' %>

<%= render 'hp_whats_new' %>

</div>

<div class="row-container">

<%= render 'hp_feed_the_dog' %>

<%= render 'hp_calendar' %>

</div>

<div class="row-container">

<%= render 'hp_galleries' %>

<%= render 'hp_sponsers' %>

</div>

</div>