<div class="hp-about">
<%= render 'hp_about' %>
</div>

<div class="hp-news">
<%= render 'hp_whats_new' %>
</div>

<div class="hp-donations">
<%= render 'hp_feed_the_dog' %>
</div>

<div class="hp-events">
<%= render 'hp_calendar' %>
</div>

<div class="hp-gallery">
<%= render 'hp_galleries' %>
</div>

<div class="hp-sponsors">
<%= render 'hp_sponsors' %>
</div>
