<% total_traveled = 0 %>
<% counter = 1 %>
<% year = "" %>
<% grand_counter = 0 %>

<% content_for :sidebar do %>
  <%= render "sidebars/members" %>

<% end %>

<h1>Member Home</h1>
<hr />
<h2>Membership Dues:</h2>

<p>Current records indicate you last paid dues: <strong><%= @dues_paid.date_paid.strftime("%b %d, %Y") %></strong>. If you feel this is in error, please contact the Finance Officer.</p>
<hr />
<h2>Your Upcoming Trips:</h2>

<% if @member.event_signups.future.empty? %>
No upcoming trips currently scheduled.
<% else %>

<% @member.event_signups.future.trips_ordered.each do |sign_up| %>

<div class="calendar_row" style="width: 95%; padding-top: 0.25em">

  <div class="cell" style="width: 25%;">
    <% if sign_up.event.start.strftime("%b %d" ) == sign_up.event.end.strftime("%b %d") %>
    <div class="calendar-ii" style="margin-left: 3.5em;">
      <div class="calendar_month-ii"><%= sign_up.event.start.strftime("%b") %></div>
      <div class="calendar_date-ii"><%= sign_up.event.start.strftime("%d") %></div>
    </div>
    <% else %>
    <div class="calendar-ii" style="float: left; margin-left: 1.5em;">
      <div class="calendar_month-ii"><%= sign_up.event.start.strftime("%b") %></div>
      <div class="calendar_date-ii"><%= sign_up.event.start.strftime("%d") %></div>
    </div>
    <span style="float: left; font-size: 1em; margin: 0.5em 0 0 0;">&#8211; </span>
    <div class="calendar-ii">
      <div class="calendar_month-ii"><%= sign_up.event.end.strftime("%b") %></div>
      <div class="calendar_date-ii"><%= sign_up.event.end.strftime("%d") %></div>
    </div>
    <% end %>
    <div class="location"><%= sign_up.event.location.city + ", " + sign_up.event.location.state %></div>
  </div>
  <div class="cell" style="width: 70%;">
    <strong><em><%= link_to sign_up.event.title, sign_up.event %></em></strong>
    <% if sign_up.event.event_statuses_id == 2 %>
      <span class="event-flag" style="display: inline;"> &lt;= Tentative</span>
    <% elsif sign_up.event.event_statuses_id == 3 %>
      <span class="event-flag" style="display: inline;"> &lt;= Canceled</span>
    <% end %>
    <br />
      <% if sign_up.event.details.length > 220 %>
        <%= truncate(sign_up.event.details, :length => 220, :separator => ' ') %> <em><%= link_to "Go to event", sign_up.event %></em>
      <% else %>
        <%= sign_up.event.details %>
      <% end %>
      <br /><br />Your Commitment Level: <strong><%= sign_up.commitment_level %></strong>
</div>
</div>
<% end %>
<% end %>
<hr />
<h2>Trips History:</h2>
<table class="table_border">
<tr>
  <th></th>
  <th>Event</th>
  <th>Date</th>
  <th>N. Miles</th>
</tr>
<% @member.event_signups.trips.trips_ordered.reverse.each do |sign_up| %>
    
    <% if sign_up.commitment_level == "Definite" %>

    <% if sign_up.event.start < Time.zone.now %>
    <% if sign_up.event.start.strftime("%Y") != year %>
			<tr>
				<td colspan=4 align="center"><strong><em><%= sign_up.event.start.strftime("%Y") %></em></strong></td>
			</tr>
			<% counter = 1 %>
    <% end %>

  <tr class="<%= cycle('odd_row', 'even_row') %>">
        <td align="right"><%= counter %>.</td>
        <td><%= link_to sign_up.event.title, event_path(sign_up.event) %></td>
        <td><%= sign_up.event.start.strftime("%b %d, %Y") %></td>
        <td align="right"><%= (sign_up.event.location.one_way_distance * 2) %></td>
</tr>
        <% if !sign_up.event.location.one_way_distance.blank? %>
            <% total_traveled = (sign_up.event.location.one_way_distance * 2) + total_traveled %>
        <% end %>
        <% counter = counter + 1 %>
        <% grand_counter = grand_counter + 1 %>
        <% year = sign_up.event.start.strftime("%Y") %>

    <% end %>
    <% end %>
    
<% end %>
<tr>
  <td colspan=4 align="right"><%= grand_counter %> Total Trips Traveled: <strong><%= number_with_delimiter(total_traveled) %> nm</strong></td>
</tr>

</table>