<% total_traveled = 0 %>
<% counter = 1 %>
<% year = "" %>
<% grand_counter = 0 %>

<h1>Member Home</h1>
<hr />

<div class="row">
<div class="col-sm-6">
  <h2>Membership Dues:</h2>
  
  <% if (@dues_paid.date_paid + 1.year) > DateTime.now %><div class="dues_current">CURRENT</div><%else %><div class="dues_not_current">NOT CURRENT</div><% end %>
  
  <p>Current records indicate you last paid dues: <strong><%= @dues_paid.date_paid.strftime("%b %d, %Y") %></strong>. If you feel this is in error, please contact the Finance Officer.</p>
  <p><%= link_to "Renew Membership Online", membership_path %></p>
</div>
<div class="col-sm-6">
<%= render 'quick_links' %>
</div>
</div>
<hr />
<h2>Your Upcoming Trips:</h2>

<% if @member.event_signups.future.empty? %>
No upcoming trips currently scheduled.
<% else %>

<% @member.event_signups.future.trips_ordered.each do |sign_up| %>

<div class="calendar_row">
<div class='row'>
<div class="col-xs-12 col-sm-5 col-md-4">
<div class='row'>
  <% if sign_up.event.start.strftime("%b %d" ) == sign_up.event.end.strftime("%b %d") %>
<div class="col-xs-12">
  <div class="calendar">
    <div class="calendar_year">
      <%= sign_up.event.start.strftime("%Y") %>
    </div>
    <div class="calendar_month">
      <%= sign_up.event.start.strftime("%b") %>
    </div>
    <div class="calendar_day">
      <%= sign_up.event.start.strftime("%A") %>
    </div>
    <div class="calendar_date">
      <%= sign_up.event.start.strftime("%d") %>
    </div>
  </div>
  <% else %>
  <div class="col-xs-6 col-sm-6">
    <div class="calendar">
      <div class="calendar_year">
        <%= sign_up.event.start.strftime("%Y") %>
      </div>
      <div class="calendar_month">
        <%= sign_up.event.start.strftime("%b") %>
      </div>
      <div class="calendar_day">
        <%= sign_up.event.start.strftime("%A") %>
      </div>
      <div class="calendar_date">
        <%= sign_up.event.start.strftime("%d") %>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6">
    <div class="calendar">
      <div class="calendar_year">
        <%= sign_up.event.end.strftime("%Y") %>
      </div>
      <div class="calendar_month">
        <%= sign_up.event.end.strftime("%b") %>
      </div>
      <div class="calendar_day">
        <%= sign_up.event.end.strftime("%A") %>
      </div>
      <div class="calendar_date">
        <%= sign_up.event.end.strftime("%d") %>
      </div>
    </div>
<% end %>
</div>
</div>

<div class='row'>
<div class="col-xs-12">
<div class="location"><%= sign_up.event.location.city + ", " + sign_up.event.location.state %></div>
</div>
</div>
</div>
  <div class="col-xs-12 col-sm-7 col-md-8">
    <h3 class="event-title"><em><%= link_to sign_up.event.title, sign_up.event %></em></h3>
    <% if sign_up.event.event_statuses_id == 2 %>
      <span class="event-flag" style="display: inline;"> &lt;= Tentative</span>
    <% elsif sign_up.event.event_statuses_id == 3 %>
      <span class="event-flag" style="display: inline;"> &lt;= Canceled</span>
    <% end %>
    <br />
      <% if sign_up.event.details.length > 220 %>
        <%= truncate(sign_up.event.details, :length => 220, :separator => ' ') %> <em><%= link_to "Go to " + sign_up.event.title, sign_up.event %></em>
      <% else %>
        <%= sign_up.event.details %>
      <% end %>


<br /><br />Your Commitment Level: <strong><%= sign_up.commitment_level %></strong>
  </div>
  </div></div>
<div class="clearer"></div>
<% end %>   <% end %>     

<hr />
<h2>Trips History:</h2>
<table class="table_border" width="100%">
<tr>
  <th></th>
  <th>Event</th>
  <th>Date</th>
  <th>N. Miles</th>
</tr>
<% @member.event_signups.trips.trips_ordered.reverse.each do |sign_up| %>
    
    <% if sign_up.commitment_level == "Definite" %>

    <% if sign_up.event.start < Time.zone.now %>
    <% if sign_up.event.start.strftime("%Y") != year %>
			<tr>
				<td colspan=4 align="center"><strong><em><%= sign_up.event.start.strftime("%Y") %></em></strong></td>
			</tr>
			<% counter = 1 %>
    <% end %>

  <tr class="<%= cycle('odd_row', 'even_row') %>">
        <td align="right"><%= counter %>.</td>
        <td><%= link_to sign_up.event.title, event_path(sign_up.event) %></td>
        <td><%= sign_up.event.start.strftime("%b %d, %Y") %></td>
        <td align="right"><%= (sign_up.event.location.one_way_distance * 2) %></td>
</tr>
        <% if !sign_up.event.location.one_way_distance.blank? %>
            <% total_traveled = (sign_up.event.location.one_way_distance * 2) + total_traveled %>
        <% end %>
        <% counter = counter + 1 %>
        <% grand_counter = grand_counter + 1 %>
        <% year = sign_up.event.start.strftime("%Y") %>

    <% end %>
    <% end %>
    
<% end %>
<tr>
  <td colspan=4 align="right"><%= grand_counter %> Total Trips Traveled: <strong><%= number_with_delimiter(total_traveled) %> nm</strong></td>
</tr>

</table>