<% content_for :sidebar do %>
  <h3>Special Thanks to our Sponsors</h3>
<div style="text-align: center;">
  <%= image_tag "/assets/ljc_logo.png" %>
  <%= image_tag "/assets/pca_logo.gif" %>
  <%= image_tag "/assets/cfa_logo.png" %>
  <%= image_tag "/assets/bdc_logo.png" %>
  <%= image_tag "/assets/ap_logo.png" %>
</div>
<% end %>


<div class="row" style="margin: 0.5em 0;">
  <div class="cell">
    <%= image_tag "/assets/party_dog.jpg" %>
  </div>
  <div class="cell" style="padding: 2em 0 0 1em; width: 75%;">
    <h1 style="font-size:2em;">The Devil Dog is turning 70!</h1>
    <h2 style="font-size:1.5em;">And you're invited to her birthday party.</h2>
    <h3>Admission is free. Tax deductable donations or birthday presents, are gladly acccepted.</h3>
  </div>
</div>

<h2>Nov 15th, 2014</h2>

<div style="font-size: 1.2em;line-height: 1.3em;">
    <div class="row" style="margin: 0.5em 0;" >
        <div class="cell" style="width: 55%; border-right: 1px solid #ccc;">
            <h2>Schedule</h2>
            <div class="row" style="margin: 0.5em 0;">
                <div class="cell">
                    <em>4:00 PM</em>
                </div>
                <div class="cell">
                    Static Display
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    <em>5:30 PM</em>
                </div>
                <div class="cell">
                    Guest Speaker<br />
                    Lt. Col. Huie Lamb, USAF (Ret)<br />
                    WWII Ace
                </div>
            </div>
            <div class="row" style="margin: 0.5em 0;">
                <div class="cell">
                    <em>6:15 PM</em>
                </div>
                <div class="cell">
                    Birthday cake<br />
                    Refreshments and Snacks
                </div>
            </div>
            <div class="row" style="margin: 0.5em 0;">
                <div class="cell">
                    <em>6:30 PM</em>
                </div>
                <div class="cell">
                    The Jeremy Smith Swing Band
                </div>
            </div>
        </div>
        <div class="cell" style="width: 40%;">
            <div class="row" style="margin: 0.5em 0; padding-left: 1em;">
                <div class="cell">
                    <h2>Location</h2>

                    Longhorn Jet Center<br />
                    160 Terminal Drive<br />
                    Georgetown Municipal Airport<br />
                    <br />
                    For information call<br />512.869-1759
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<div style="float: right; margin: 0 0 1em 1.5em;">
  <%= image_tag "/assets/dd_birthday_flyer.jpg" %>
</div>

<p><strong>The Devil Dog</strong> is a vintage WWII Marine Corps 825 medium-range bomber being maintained by the <em>Devil Dog Squadron</em> of the <em>Commemorative Air Force</em> right here in Georgetown, Texas!</p> 

<p>The <strong>Devil Dog</strong> is part of a "flying museum, nand the Georgetown Squadron has the job of keeping the <strong>Dog</strong> airworthy. The <strong>Dog</strong> has much to teach a new generation of Americans about WWII history and the enormous role airmen and machines like this played in defending our freedom.</p> 

<p><strong>The "Dog" needs new paint</strong>. As you can imagine, it takes a lot of money to keep a vintage warbird like the <strong>Devil Dog</strong> flying: there's always something needing atten-· tion. Top of our list this year is new paint to protect her outer skin. So we're holding a birthday partylfundraiser! Enjoy music and refreshments while helping us keep the <strong>Dog</strong> flying for another 70 years!</p> 

<p><em>Please come and join us in celebrating the Devil Dog's 70th birthday!</em></p>

<hr />

<h2>Guest Speaker: Lt. Col. Huie Lamb, USAF (Ret) - WWII Ace</h2>

<p>Huie Lamb flew more than 200 combat hours on 61 missions. He was stationed at Duxford Air Base, near Cambridge England from August 1944 through October 1945. He flew P-47s and then P-51s.</p>

<%= image_tag "/assets/Huie_P_47_sm.jpg" %>

<p style="text-align: center;"><em>Huie Lamb with P-47</em></p>