<div class="row">
  <div class='col-sm-3 col-sm-push-3'>
    <%= image_tag "/assets/devildog_logo.png", :class => "img-responsive" %>
  </div>

  <div class='col-sm-3 col-sm-push-3'>
<h2>Login</h2>

<% if flash[:alert] %>
  <p id="alert"><%= flash[:alert] %></p>
<% end %>


<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div style="text-align: center;"><%= f.submit "Sign in",:class => "btn-default btn btn-big btn-primary" %></div>
<% end %>

<div style="margin:1em 0;">
  <%= render "devise/shared/links" %>
</div>
</div>