
<h1>Role Name:</em> <%= @role.name %></h1>

<p><%= @role.name %> has permission to do the following:</p>
<% @role.rights.unique_resources.ordered.each do |right| %>
  <p><strong><%= right.resource %></strong></p>
    <div class="indent_row">
    <% @role.rights.ordered_ops.each do |operation| %>
      <% if operation.resource == right.resource %>
        <%= check_box_tag operation, 1, :checked %><%= operation.operation %>
      <% end %>
    <% end %>
      </div><div class="clearer"></div>
<% end %>
</table>

<%#= link_to 'Edit', edit_role_path(@role) %>
<%#= link_to 'Back', roles_path %>
