<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event_type.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event_type.description %>
</p>


<%= link_to 'Edit', edit_event_type_path(@event_type) %> |
<%= link_to 'Back', event_types_path %>
