<div class="photo_viewer">

<p id="notice"><%= notice %></p>


  <%= image_tag 'photos/'+ @photo.path + '/' + @photo.filename %>

<p>
  <b>Photo title:</b>
  <%= @photo.photo_title %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<%= link_to 'Back', :back %>

<% if session[:current_user] %>
<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
<% end %>
</div>