<div class="content-left">

<p id="notice"><%= notice %></p>


  <%= image_tag 'photos/'+ @photo.path + '/' + @photo.filename %>

<p>
  <b>Photo title:</b>
  <%= @photo.photo_title %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>Order:</b>
  <%= @photo.order %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>

</div>