<div class="photo_viewer">

<p id="notice"><%= notice %></p>

<div align="center">
<p><%= link_to 'Previous', photo_path(@photo.id - 1) %> | <%= link_to 'Next', photo_path(@photo.id + 1) %></p>
</div>
  <%= image_tag 'photos/'+ @photo.path + '/' + @photo.filename %>

<p>
  <b>Photo title:</b>
  <%= @photo.photo_title %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<%= link_to 'Back to ' + @photo.gallery.gallery_name + ' Gallery', gallery_url(@photo.gallery_id) %>

<% if session[:current_user] %>
<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
<% end %>
</div>