<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Post Categories:</h3>
  <div class="indent_row">
    <%= f.fields_for :categories do |builder| %>
      <%= render "categories", :f => builder %>
    <% end %>
  </div>
<div class="clearer"></div>
  <div class="field">
    <%= f.label :publish_date %><br />
    <%= f.text_field :publish_date, :size => '50' %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => '50' %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :cols => '50' %>
  </div>
  <div class="field">
    <%=f.hidden_field :user_id, :value => @user.id %>
  </div>
  <div class="actions">
    <%= f.submit :data => { :disable_with => "Submitting..." } %>
  </div>
<% end %>
