<h2>Revisions</h2>

<table class="table_border">
  <thead>
    <tr>
      <th>Index</th>
      <th>Date</th>
      <th>Author</th>
      <th>Event</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%- @post.versions.reverse.each do |version| %>
      <tr class="<%= cycle('odd_row', 'even_row') %>">
        <td><%= version.index %></td>
        <td><%= version.created_at.strftime("%b %d, %Y") %></td>
        <td><%= find_version_author_name(version) %></td>
        <td><%= version.event.humanize %></td>
        <td><%= link_to 'Diff', diff_post_version_path(@post, version) %></td>
        <td><%= link_to 'Rollback', rollback_post_version_path(@post, version), :method => 'put' %></td>
      </tr>
    <% end %>
  </tbody>
</table>