<h1>Devil Dog Squadron Bulletin Board</h1>

<p>The purpose of this Bulletin Board is to make information more transparent and available to the membership. Should you have any comments or input, please contact the Adjutant, Operations or Maintenance officer for additional information. The content of this board is administered by the Adjutant Officer who is the primary contact for postings.</p>

 <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
  <div align="center">
  <%= button_to "Add new post", new_post_path, :method => :get,:class => "btn-default btn btn-big btn-primary" %>
  </div>
<% end %>

<div class="pagination-nav"><%= will_paginate @posts %></div>
<hr />

<% @posts.each do |post| %>

    <h1><%= link_to post.title, post %></h1>
    <% if post.content.length > 220 %>
         <%= markdown truncate(post.content, :length => 220, :separator => ' ') %> <em><%= link_to "Read More", post %></em>
      <% else %>
        <%= markdown post.content %><br />
        <em><%= link_to "View", post %></em>
      <% end %>
    <p><em><%= post.created_at.strftime("%B %d, %Y") %> | <% if post.categories.size > 1 %> Categories<% else %> Category<% end %>: 
    
    <% post.categories.each_with_index do |category, i| %>
      <% if i > 0 %>, <% end %>
      <%= category.name %> 
    <%end %>
     | posted by: <% if post.user_id? %><%= post.user.member.first_name %> <%= post.user.member.last_name.first %>.<% end %></em></p>
    <%#= link_to 'Edit', edit_post_path(post) %>
    <%#= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
    <hr />
<% end %>
<div class="pagination-nav"><%= will_paginate @posts %></div>