<% content_for :sidebar do %>
  <%= render "sidebars/web_maintenance" %>
<% end %>

<h1>Photo Galleries</h1>

<table>
<% @galleries.each do |gallery| %>
  <tr>
    <td><%= image_tag 'photos/'+ gallery.gallery_pic %></td>
    <td><%= link_to gallery.gallery_name, gallery %></td>
    <td><%= gallery.description %></td>
    <td><% if session[:current_user] %><%= link_to 'Edit', edit_gallery_path(gallery) %><% end %></td>
  </tr>
<% end %>
</table>

<br />

<% if session[:current_user] %>
<%= link_to 'New Gallery', new_gallery_path %>
<% end %>
