<p id="notice"><%= notice %></p>
<h1><%= @gallery.gallery_name %></h1>
</p>

<p><%= @gallery.description %></p>

<% @gallery.photos.each_with_index do |photo, i| %>

  <div class="gallery-row">
    <div class="photo-cell">
      <%= link_to (image_tag 'photos/'+ photo.path + '/' + photo.filename), photo_path(photo) %><br />
      <%= photo.description %>
    </div>
  </div>
<% end %>


<% if session[:current_user] %>
<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
<% end %>
