<div class="content-left">

<p id="notice"><%= notice %></p>

<p>
  <b>Gallery category:</b>
  <%= @gallery.gallery_category.category_name %>
</p>

<p>
  <b>Gallery name:</b>
  <%= @gallery.gallery_name %>
</p>

<p>
  <b>Description:</b>
  <%= @gallery.description %>
</p>




<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>

</div>