<div class="content-left">

<p id="notice"><%= notice %></p>

<p>
  <b>Gallery category:</b>
  <%= @gallery.gallery_category.category_name %>
</p>

<p>
  <b>Gallery name:</b>
  <%= @gallery.gallery_name %>
</p>

<p>
  <b>Description:</b>
  <%= @gallery.description %>
</p>

<% @gallery.photos.each do |photo| %>

<%= link_to (image_tag 'photos/'+ photo.filename, :width=>"150", :height=>"100"), photo_path(photo) %><br />

<% end %>


<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>

</div>