<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script  type="text/javascript">

google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'bracket');
      data.addColumn('number', 'Qty');

      data.addRows([
        <% @age_brackets.each do |age| %> ['10 - 19', <%= age.a %>], ['20 - 29', <%= age.b %>], ['30 - 39', <%= age.c %>], ['40 - 49', <%= age.d %>], ['50 - 59', <%= age.e %>], ['60 - 69', <%= age.f %>], ['70 - 79', <%= age.g %>], ['=/> 80', <%= age.h %>] <% end %>
      ]);

      var options = {
        title: 'Riders Ages',
        colors:['#52782a'],
        hAxis: {
          title: 'Age Bracket'
        },
        vAxis: {
          title: 'Qty',
          format: ' #,###'
        }
      };

      var chart = new google.visualization.ColumnChart(
        document.getElementById('chart_div'));

      chart.draw(data, options);
    }
</script>


    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      
      function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Gender');
      data.addColumn('number', 'Qty');

      data.addRows([['Male', <%= @males.count %>], ['Female', <%= @females.count %>]]);


        var options_pie = {
          colors:['#52782a','#b78d03']
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options_pie);
      }
    </script>

<% content_for :sidebar do %>
  <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
    <div align="center">
      <%= button_to "Add new LHFE Rider", new_lhfe_rider_path, :method => :get %>
    </div>
  <% end %>
<% end %>

<% event_name = 0 %>
<% age = 0 %>
<% min_dob = 0 %>
<% index = 0 %>
<% total_age = 0 %>

<% @lhfe_riders.each do |lhfe_rider_analysis| %>
  <% if lhfe_rider_analysis.dob? %>
    <% age = (lhfe_rider_analysis.ride_date - lhfe_rider_analysis.dob).to_i/365 %>
    <% total_age = total_age + age %>
    <% index = index + 1 %>
  <% end %>
<% end %>


<h1>LHFE Riders</h1>

<h2>Demographics</h2>
Number of riders:  <%= @lhfe_riders.count %><br />

<div id="chart_div"></div>

<table class="table_border" width="100%">
  <tr>
    <th>Min Age:</th>
    <th>Avg Age:</th>
    <th>Max Age:</th>
    <th>Qty:</th>
  </tr>
  <tr>
    <td align='center'><%= @demo_ages.first.min_age %></td>
    <td align='center'><%= total_age/index %></td>
    <td align='center'><%= @demo_ages.first.max_age %></td>
    <td align='center'><%= @demo_ages.first.qty %></td>
  </tr>
</table>  

<div id="piechart"></div>

<table width="500" class="table_border">
<% @lhfe_riders.each do |lhfe_rider| %>
  <% if event_name != lhfe_rider.event.title %>
    <tr>
      <th colspan='6'><span style="font-size: 1.2em;"><%= lhfe_rider.event.title %></span><br />
      <%= lhfe_rider.event.location.short_name %><br />
      <%= lhfe_rider.event.start.strftime('%b %d, %y') %></th>
    </tr>
  <tr>
    <th>Last name</th>
    <th>First name</th>
    <th>City</th>
    <th>State</th>
    <th>Ride date</th>
    <th>Age</th>
  </tr>
  <% end %>

  <tr>
    <td><%= link_to lhfe_rider.last_name, lhfe_rider %></td>
    <td><%= lhfe_rider.first_name %></td>
    <td><%= lhfe_rider.city %></td>
    <td><%= lhfe_rider.state %></td>
    <td><%= lhfe_rider.ride_date %></td>
    <td>
      <% if lhfe_rider.dob? %>
        <%= (Date.today - lhfe_rider.dob).to_i/365 %>
      <% end %>
    </td>
  </tr>
  <% event_name = lhfe_rider.event.title %>
<% end %>
</table>
