<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form_row">
  <div class="form_cell">
    <div class="field">
      <%= f.label :name, "Product Name" %><br />
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="form_cell">
    <div class="field">
      <%= f.label :item_no %><br />
      <%= f.text_field :item_no, :size => 15 %><br /><span class="form_tip">Used for PayPal buttons - e.g. "500"</span>
    </div>
  </div>
</div>
<div class="form_row">
  <div class="form_cell">
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description, :size => "50x5"  %>
    </div>
  </div>
</div>
<div class="form_row">
  <div class="form_cell" style="width: 30%;">
    <div class="field">
      <%= f.label :value %><br />
      <%= f.text_field :value, :size => '10' %><br /> <span class="form_tip">Item's price</span>
    </div>
  </div>
  <div class="form_cell" style="width: 30%;">
    <div class="field">
      <%= f.label :alt_value, "Alternate Value" %><br />
      <%= f.text_field :alt_value, :size => '10' %><br /> <span class="form_tip">Item's alternate price i.e. Rides price at an event.</span>
    </div>
  </div>
  <div class="form_cell" style="width: 30%;">
    <div class="field">
      <%= f.label :ship_handling %><br />
      <%= f.text_field :ship_handling, :size => '10' %><br /><span class="form_tip">Shipping and Handling Charge</span>
    </div>
  </div>
</div>
<div class="form_row">
  <div class="form_cell">
  <div class="field">
    <%= f.label :available, "Item Available" %><br />
    <div align="center"><%= f.check_box :available %></div>
    </div>
  </div>
</div>


<div class="form_row">
  <div class="form_cell">
    <strong>Sizes:</strong>
  </div>
  <div class="form_cell">
    <% @sizes.each_with_index do |size, i| %>
    <% if i == 0 %>
      <div class="form_cell">
    <% elsif i == 4 %>
      </div>
      <div class="form_cell"> 
    <% elsif i == 8 %>
      </div>
      <div class="form_cell">
    <% end %>
    
    <%= check_box_tag('size_list[]', size.id, @product.sizes.collect {|obj| obj.id}.include?(size.id)) %><%= size.size %><br />
 
    <% end %>
    </div>
 </div>
</div>


<div class="form_row">
  <div class="form_cell">
    <div class="field">
      <%= f.label :photo_path %><br />
      <%= f.text_field :photo_path %><br /><span class="form_tip">e.g. 600.jpg</span>
    </div>
</div>
</div>
<div class="form_row">
  <div class="form_cell">
    <div class="actions">
      <%= f.submit :data => { :disable_with => "Submitting..." } %>
    </div>
  </div>
</div>
<% end %>
