<h1>Listing products</h1>

<% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
  <div style="text-align:right;margin-bottom: 1em;">
  <%= button_to 'Add New Product', new_product_path, :method => :get, :class => "btn-default btn btn-big btn-primary" %>
  </div>
<% end %>

<table width="560" class="table_border">
  <tr>
    <th>Item no</th>
    <th>Name</th>
    <th>Photo</th>
    <th>Description</th>
    <th>Value</th>
    <th>Ship handling</th>
    <th>Available</th>
  </tr>

<% @products.each do |product| %>
  <tr> 
    <td><%= link_to product.item_no, edit_product_path(product) %></td>
    <td><%= product.name %></td>
    <td> <% if product.photo_path? %>
             <img src="uploads/images/<%=product.photo_path %>" width="100%"></td>
         <% end %>
    <td><%= product.description %></td>
    <td align="right"><%= number_to_currency(product.value) %></td>
    <td align="right"><%= number_to_currency(product.ship_handling) %></td>
    <td align="center"><% if product.available == false %>&#x274C;<% else %>&#x2705; <% end %></td>
  </tr>
<% end %>
</table>
    