<div class="content-left">

<h1>PX</h1>

<p>Show your support for the Devil Dog with these official Devil Dog items. </p>

<p>All proceeds are used to keep the Devil Dog flying. We appreciate your support. </p>

<p>Shipping charges are for continental US only. For orders outside of the continental US please send an email to <a href="mailto:px_info@devildogsquadron.com">px_info@devildogsquadron.com</a>.</p>

<p>If you have any questions or comments about the items below, you may also address them to the email address <a href="mailto:px_info@devildogsquadron.com">px_info@devildogsquadron.com</a></p>

<table width="560" class="table2">
  <tr>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th width="100">&nbsp;</th>
  </tr>

<% @products.each do |product| %>
  <tr class=""> 
    <td> <% if product.photo_path? %>
           <%= image_tag 'sm_' + product.photo_path %>
         <% end %>
    </td>
    <td><strong><%= product.name %></strong><br /><%= product.description %></td>
    <td>&nbsp;</td>
    <td align="right"><%= number_to_currency(product.value) %><br />
    S&amp;H:<%= number_to_currency(product.ship_handling) %><br /><strong>Total: <%= number_to_currency(product.total_value) %></strong>

<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">

<% if product.sizes.first.size_short != "na" %> 
<table class="table_nobrdr">
		<tr>
			<td>
				<input type="hidden" name="on0" value="Size"><em><strong>Size:</strong></em>
			</td>
			<td>

			  <%= select "size", "product", product.sizes.by_size.collect {|s| [s.size, s.size ]}, {:name => 
"os0", :prompt => true}, {:name => 
"os0"} %>
              
			</td>
		</tr>
	</table>	
<% end %>
<br />
<input type="image" src="https://www.paypal.com//en_US/i/btn/sc-but-03.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
<input type="hidden" name="add" value="1">
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="business" value="px_info@devildogsquadron.com">
<input type="hidden" name="item_name" value="<%= product.name %>">
<input type="hidden" name="item_number" value="<%= product.item_no %>">
<input type="hidden" name="amount" value="<%= product.value %>">
<input type="hidden" name="page_style" value="Primary">
<input type="hidden" name="shipping" value="<%= product.ship_handling %>">
<input type="hidden" name="no_shipping" value="2">
<input type="hidden" name="no_note" value="1">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="bn" value="PP-ShopCartBF">

</form>
</td>

  </tr>
  <tr>
    <td colspan="4"><hr /></td>
  </tr>
<% end %>
</table>

<!-- Close content-left -->
</div>


<div id="right-column">

<div class="right-column-box">

<h1>Calendar</h1>

<table width="180" class="table_border">
  <tr>
    <th>Date</th>
    <th>Title</th>
  </tr>

<% @events.each do |event| %>
  <tr class="<%= cycle('odd_row', 'even_row') %>">
    <td><%= event.start.strftime("%b %d, %y") %></td>
    <td><%= link_to event.title, event %></td>
  </tr>
<% end %>
</table>
<div align="right"><%= link_to "See all calendar events...", calendar_path %></div>
<!-- Close right-column-box -->
</div>

<!-- Close right-column -->
</div>


