<p id="notice"><%= notice %></p>

<div class="form_row">
  <div class="form_cell">
    <p><b>Name:</b> <%= @product.name %></p>
  </div>
  <div class="form_cell">
    <p><b>Item no:</b> <%= @product.item_no %></p>
  </div>
</div>

<div class="form_row">
  <div class="form_cell">
    <p><b>Description:</b> <%= @product.description %></p>
  </div>
</div>

<div class="form_row">
  <div class="form_cell">
    <p><b>Value:</b> <%= @product.value %></p>
  </div>
  <div class="form_cell">
    <p><b>Ship handling:</b> <%= @product.ship_handling %></p>
  </div>
  <div class="form_cell">
    <p><b>Available:</b> <%= @product.available %></p>
  </div>
</div>

<div class="form_row">
  <div class="form_cell">
    <p><b>Photo path:</b> <%= @product.photo_path %></p>
  </div>
  <div class="form_cell">
    <%= image_tag  @product.photo_path, :width => "320", :height => "213", :border => "0" %>
  </div>
</div>

<div class="clearer"></div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
