<h1>Listing document_categories</h1>

<table>
  <tr>
    <th>Category name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @document_categories.each do |document_category| %>
  <tr>
    <td><%= document_category.category_name %></td>
    <td><%= document_category.description %></td>
    <td><%= link_to 'Show', document_category %></td>
    <td><%= link_to 'Edit', edit_document_category_path(document_category) %></td>
    <td><%= link_to 'Destroy', document_category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Document category', new_document_category_path %>
