<%= form_for(@attendance) do |f| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% @attendance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :member_id %><br />
      <%= f.collection_select :member_id, Member.ordered.all, :id, :full_name, options = {:prompt => true}, html_options = {:class => "styled-select"} %>
  </div>
  <div class="field">
    <%= f.label :event_id %><br />
      <%#= f.collection_select :event_id, Event.ordered.published.all, :id, :title, options = {:order => 'start ASC', :prompt => true}, html_options = {:class => "styled-select"} %>
      <%= f.collection_select :event_id, Event.ordered.published.has_rsvp.all, :id, :event_date, options = {:order => 'start ASC', :prompt => true}, html_options = {:class => "styled-select"} %>
  </div>

<div class="indent_row" style="width: 560px;">
  <div class="cell" style="padding: 0 0 5em 10em;">
    <div class="field">
      <div class="cell radio_button_selection">
        <label><%= f.radio_button 'commitment_level', 'Definite' %><br /><%= f.label :commitment_level, "Definite" %></label>
      </div>
      <div class="cell radio_button_selection" style="border: none;">
        <label><%= f.radio_button 'commitment_level', 'Maybe' %><br /><%= f.label :commitment_level, "Maybe" %></label>
      </div>
    </div>
  </div>
</div>

  <div class="actions">
    <%= f.submit :data => { :disable_with => "Submitting..." } %>
  </div>
<% end %>
