<p id="notice"><%= notice %></p>

<p>
  <b>Member:</b>
  <%= @attendance.member %>
</p>

<p>
  <b>Event:</b>
  <%= @attendance.event %>
</p>


<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
