<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="indent_row">
  <div class="cell field">
      <%= f.label :short_name %> (shows in drop-down)<br />
      <%= f.text_field :short_name, :size => 20 %>
  </div>
  <div class="cell field">
      <%= f.label :airport_name %><br />
      <%= f.text_field :airport_name, :size => 25 %>
  </div>
</div>

<div class="indent_row">
  <div class="cell field">
      <%= f.label :icao_identifier, 'ICAO Identifier' %><br />
      <%= f.text_field :icao_identifier, :size => 10, :placeholder => 'KGTU' %>
  </div>
  <div class="cell field">
      <%= f.label :city %><br />
      <%= f.text_field :city, :size => 10 %>
    </div>
  <div class="cell field">
      <%= f.label :state %><br />
      <%= f.text_field :state, :size => 10 %>
  </div>
</div>

<div class="indent_row">
  <div class="cell field">
      <%= f.label :latitude %><br />
      <%= f.text_field :latitude, :size => 23, :placeholder => '30.6788056' %>
  </div>
  <div class="cell field">
      <%= f.label :longitude %><br />
      <%= f.text_field :longitude, :size => 23, :placeholder => '-97.6793889' %>
  </div>
<p class="form_tip">Latitude and Longitude are used to create google map view on event page. You can look up lat and lon for an airport using 
<%= link_to "AirNavLookup", "http://www.airnav.com/airports", :target => "_blank" %> </p>
</div>

<div class="indent_row">
  <div class="cell field">
    <%= f.label :one_way_distance, "Distance from KGTU (nm)" %><br />
    <%= f.text_field :one_way_distance, :size => 20 %>
  </div>
<p class="form_tip">Autofilled if lat and lon are input above</p>
</div>

<div class="indent_row">
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => "50x5", :placeholder => 'Anything about this location worth noting' %>
  </div>
</div>
<div class="clearer"></div>
  <div class="actions" style="text-align: center;">
    <%= f.submit :data => { :disable_with => "Submitting..." },:class => "btn-default btn btn-big btn-primary" %>
  </div>
<% end %>
