<% content_for :sidebar do %>
  <div align="center">
  <%= button_to "Add New Location", new_location_path, :method => :get %>
  </div>
<% end %>


<h1>Locations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Airport</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>

<% @locations.each do |location| %>
  <tr class="<%= cycle('odd-row', 'even-row') %>">
    <td><%= link_to location.short_name, location %></td>
    <td><%= location.icao_identifier %></td>
    <td><%= location.latitude %></td>
    <td><%= location.longitude %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Location', new_location_path %>
