<%= render "scripts" %>

<%= form_for(@lhfe_flight) do |f| %>
  <% if @lhfe_flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lhfe_flight.errors.count, "error") %> prohibited this lhfe_flight from being saved:</h2>

      <ul>
      <% @lhfe_flight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">

  <div class="field col-xs-12">
    <%= f.label :flight_start_time, "Flight Time" %><br />
    <%= f.text_field :flight_start_time, :value => f.object.try(:flight_start_time).try(:strftime,'%Y-%m-%d %H:%M:%S'), :size => 20 %>
  </div>

    <div class="field col-xs-12">
      <%= f.label :event_id, "Event" %><br />
      <%= f.collection_select :event_id, Event.published.flying_event.all, :id, :event_date, options = {:order => 'event_date ASC', :prompt => true, :selected => params['event_id']}, html_options = {:class => "styled-select"} %>
    </div>

  <div class="field col-xs-12">
    <%= f.label :aircraft %><br />
    <%= f.collection_select :aircraft_id, Aircraft.all, :id, :name, options = {:order => 'name ASC', :prompt => true}, html_options = {:class => "styled-select"} %>
  </div>

    <div class="field col-xs-6">
      <%= f.label :discount_price %><div class="form_note" style="padding-top: 0.5em;"> usually $395</div><br />
    <%= f.text_field :discount_price, :size => 20 %>
    </div>

    <div class="field col-xs-6">
      <%= f.label :price %><div class="form_note" style="padding-top: 0.5em;"> usually $425</div><br />
    <%= f.text_field :price, :size => 20 %>
    </div>

  <div class="field col-xs-12">
    <%= f.label :flight_notes %><div class="form_note" style="padding-top: 0.5em;"> usually "Flight time subject to change"</div><br />
    <%= f.text_area :flight_notes, :size => '50x10' %>
  </div>
  <div class="actions col-xs-12">
    <%= f.submit "Create LHFE Flight", :data => { :disable_with => "Submitting..." },:class => "btn-default btn btn-big btn-primary" %>
  </div>
</div>
<% end %>
