<h1>Listing LHFE Flights</h1>
<p><%= link_to 'New Flight', new_lhfe_flight_path %> </p>

<table class="table_border">
  <tr>
    <th>Flight start time</th>
    <th>Event</th>
    <th>Aircraft</th>
    <th>Flight notes</th>
  </tr>

<% @lhfe_flights.each do |lhfe_flight| %>
  <tr class="<%= cycle('odd_row', 'even_row') %>">
    <td><%= link_to lhfe_flight.flight_start_time.strftime('%a %b %d %H:%M'), lhfe_flight %></td>
    <td><%= lhfe_flight.event.title %></td>
    <td><%= lhfe_flight.aircraft.name %></td>
    <td><%= lhfe_flight.flight_notes %></td>
  </tr>
<% end %>
</table>

