
<h1><%= @content.title %></h1>

<%= markdown @content.body %>

<% if signed_in?%>
    <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
      <%= link_to 'Edit', edit_content_path(3) %>
    <% end %>
    <br />
<% end %>

<div class="row" style="margin: none;">
<div class="col-sm-8" style = "border: 1px solid black;">
<h2 style="background: #cc0000; color: #eee; margin: 0 -15px 0 -15px; padding: 0.75em;">Upcoming Flight Opportunities</h2>
<div class="row" style="border-top: 1px solid black;">
<% @rides.each do |ride| %>

<div class="col-xs-12 <%= cycle('odd_row', 'even_row') %>" style = "padding: 1em;border-bottom: 1px solid black;">
    <strong><%= ride.title %></strong><br />
    <% if ride.start.strftime("%b %d" ) == ride.end.strftime("%b %d") %>
      <p><%= ride.start.strftime("%b %d, %y") %></p>
      <% display_time = ride.start.strftime("%b %d, %y") %>
    <% else %>
     <p> <%= ride.start.strftime("%b %d") %> - <%= ride.end.strftime("%d, %y") %></p>
     <% display_time = ride.start.strftime("%b %d") + ' - ' + ride.end.strftime("%d, %y") %>
    <% end %>
  <p><%= ride.location.city %>, <%= ride.location.state %></p>

<% if ride.lhfe_flights.any? %>
  <div><span style="font-weight: bold">Flight Times</span> <span style="font-size: 0.75em; font-style: italic;">Times are subject to change</span></div>
  <div class="row">

  <% ride.lhfe_flights.each do |flight| %>
  
  <div class="col-xs-11 col-xs-offset-1" style = "padding: 0.75em;">
  <p><%= flight.flight_start_time.strftime("%a, %b %d @ %l:%M %p") %> => <%= link_to "More Flight Info", lhfe_flight_path(flight) %> <br />
  <% if flight.flight_start_time < Time.now %>
  <p style="font-size: 0.75em;">This flight is no longer available.</p>
  <% else %>  
  <% if ((flight.event.start - Time.now).to_f / 1.day).floor >= 1 %>
    <%= number_to_currency(flight.discount_price) %>
  <% else %>
   <%= number_to_currency(flight.price) %>
  <% end %></p>
  <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
  <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
  <input type="hidden" name="add" value="1">
  <input type="hidden" name="cmd" value="_cart">
  <input type="hidden" name="business" value="px_info@devildogsquadron.com">
  <input type="hidden" name="item_name" value="Living History Flight Experience - Prepay | <%= ride.title + ' ' + flight.flight_start_time.strftime("%A %b %d, %y @ %l:%M %p").to_s %>">
  <input type="hidden" name="item_number" value="100">

  <% if ((flight.event.start - Time.now).to_f / 1.day).floor >= 1 %>
    <input type="hidden" name="amount" value="<%= flight.discount_price %>">
  <% else %>
    <input type="hidden" name="amount" value="<%= flight.price %>">
  <% end %>
  <% if flight.id == 146 ||  flight.id == 147  %> - SOLD OUT
  <% else %>


  <input type="hidden" name="page_style" value="Primary">
  <input type="hidden" name="shipping" value="0">
  <input type="hidden" name="no_shipping" value="2">
  <input type="hidden" name="no_note" value="1">
  <input type="hidden" name="currency_code" value="USD">
  <input type="hidden" name="lc" value="US">
  <input type="hidden" name="bn" value="PP-ShopCartBF">
  </form>
  </div>
  <% end %>
  <% end %>
  <% end %>
  </div>

<% else %>
  <div class="col-xs-11 col-xs-offset-1" style = "padding: 0.75em;">
  <p style="font-size: 0.75em; font-style: italic;">Flight times not set for this event, you will be contacted when times are set.</p>
  <p><%= number_to_currency(@price.value) %></p>
  <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_SM.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
  <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
  <input type="hidden" name="add" value="1">
  <input type="hidden" name="cmd" value="_cart">
  <input type="hidden" name="business" value="px_info@devildogsquadron.com">
  <input type="hidden" name="item_name" value="Living History Flight Experience - Prepay | <%= ride.title + ' ' + display_time + ' flight time TBD'%>">
  <input type="hidden" name="item_number" value="100">
  <input type="hidden" name="amount" value="<%= @price.value %>">
  <input type="hidden" name="page_style" value="Primary">
  <input type="hidden" name="shipping" value="0">
  <input type="hidden" name="no_shipping" value="2">
  <input type="hidden" name="no_note" value="1">
  <input type="hidden" name="currency_code" value="USD">
  <input type="hidden" name="lc" value="US">
  <input type="hidden" name="bn" value="PP-ShopCartBF">
  </form>
  </div>
<% end %>

</div>
<% end %>

</div>

<p style="margin: 0.75em; font-size: 0.75em;">Rides booked in advance are <%= number_to_currency(@price.value, :precision => 0) %>, and increase to <%= number_to_currency(@price.alt_value, :precision => 0) %> one day before the event (event pricing may vary).</p>

<p style="margin: 0.75em;"><%= link_to "Refund Policy", refund_policy_path %>.</p>

<p style="margin: 0.75em;">Not ready to make a reservation, but would like more information? Enter a <%= link_to "Ride Request", new_ride_request_path %>.</p>
</div>
</div>


