<header>


<div class="login-bar">

    <% if user_signed_in? %>
      Welcome: <%= link_to current_user.email, account_path() %> | 
      Last login: <%= current_user.last_sign_in_at.strftime('%H:%M on %m/%d/%y') %> | 
      <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to 'Member Login', login_path %>
    <% end %>

</div>


<%= link_to (image_tag "devildog_logo.png", :class => "header_logo"), root_path %>

</header>



