
<div id="header">

<div id="header_logo">

<%= link_to image_tag("logo.png", :width => "213", :height => "140", :border => "0", :alt => "Devil Dog Squadron"), "/" %>

<!-- CLOSE header_logo CONTAINER -->
</div>
<%= image_tag("header_home_2.jpg", :width => "687", :height => "140", :border => "0", :alt => "flying high") %>

<div id="navbox">

<ul id="nav">


    <li><%= link_to 'Home', "/" %></li>
    <li><%= link_to "News & Events", news_index_path %>
        <ul>
        <li><%= link_to "Calendar", calendar_path %></li>
        <li><%= link_to "News Items", news_index_path %></li>
        </ul>
    </li>
    <li><%= link_to "History", pages_PBJs_path %></a>
        <ul>
        <li><%= link_to "PBJs", pages_PBJs_path %></li>
        <li><%= link_to "VMB 612", pages_VMB612_path %></li>
        </ul>
    </li>
    <li><%= link_to "Support", px_path %></a>
        <ul>
        <li><%= link_to "PX", px_path %></li>
        <li><%= link_to "Squadron", pages_squadron_path %></li>
<!--        <li><a href="sponsorship.php">Sponsorship</a></li> -->
        </ul>
    </li>
    <li><%= link_to "Photos & Videos", galleries_path %>
        <ul>
        <li><%= link_to "Photo Galleries", galleries_path %></li>
        <li><%= link_to "Video Gallery", video_gallery_path %></li>
        </ul>
    </li>
        <li><%= link_to "Members", pages_member_home_path %>
        <% if session[:current_user] %>
          <ul>
            <li><%= link_to 'Logout', logout_path, :method => :delete %></li>
          </ul>
        <% end %></li>
</ul>

<!-- CLOSE NAV CONTAINER -->
</div>

</div>