<a name="nav"></a>



<div class="menu-link">
  <%= link_to image_tag("devildog_logo.png", :alt => "Devil Dog Squadron"), "/" %>
  <div style="margin-top: 0.75em;"><a href="#nav">menu</a></div>
</div>

<div class="login-bar">
  <% if user_signed_in? %>
    Welcome: <%= current_user.member.first_name + ' ' + current_user.member.last_name %> | 
    <%= link_to current_user.email, member_path(current_user.member) %> | 
    Last login: <%= current_user.last_sign_in_at.strftime('%H:%M on %m/%d/%y') %> | 
    <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to 'Member Login', login_path %>
  <% end %>
</div>

<ul>
  <% @main_menu.each do |menu| %>
    <% if menu.display != "Admin" %>
    <li class="dropdown" ><a href="<%= menu.url %>" class="dropdown-toggle"><%= menu.display %></a>
    <% end %>
    <% if menu.display == "Admin" %>
      <% if signed_in?%>
        <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin"} %>
          <li class="dropdown" ><a href="<%= menu.url %>" class="dropdown-toggle"><%= menu.display %></a>
        <% end %>
      <% end %>
    <% end %>
    <% if @sub_menu.collect(&:parent_id).include?(menu.id) %>
      <ul class="dropdown-menu">
        <% @sub_menu.each do |submenu| %>
          <% if submenu.parent_id == menu.id %>
            <li><a href="<%= submenu.url %>"><%= submenu.display %></a></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
    </li>
  <% end %>
</ul>

