<!DOCTYPE html>
<html>
<head>
  <title>Devil Dog Squadron :: </title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<div id="page">

<%= render 'layouts/header' %>

<div id="main-area">

  <div id="content">



<div class="content-left">

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

      <%= yield %>

    <!-- Close content-left -->
    </div>

    <div id="right-column">

      <%= yield :sidebar %>

    <!-- Close right-column -->
    </div>

  </div>

<%= render 'layouts/footer' %>

<!-- Close main-area -->
</div>

<!-- Close page -->
</div>


</body>
</html>