<!DOCTYPE html>
<html>
<head>
  <title>Devil Dog Squadron :: </title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>
<body>

<div id="container">

<header>
<!--
  <div class="logo">
    <%= link_to image_tag("logo.png", :alt => "Devil Dog Squadron"), "/" %>
  </div>
-->
  <div class="header-image">
    <%= image_tag("headers/" + random_image) %>
  </div>
</header>

<nav id="top-nav">
    <%#= render 'layouts/nav' %>
</nav>


<div id="main">
  <div class="content">

  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <article>
  
  <%= yield %>

  </article>

  <aside>

    <%= yield :sidebar %>

  </aside>

</div>

</div>

<footer>
    <%= render 'layouts/footer' %>
</footer>

</div>

</body>
</html>