<!DOCTYPE html>
<html>
<head>
  <title>Devil Dog Squadron :: </title>
  <%= stylesheet_link_tag    "application", :media => "screen"  %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application_print", :media => "print" %>
  <%= csrf_meta_tags %>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E2JPP02LBK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E2JPP02LBK');
</script>
</head>
<body id="hh">





<%= yield %>



<!-- Close page -->
</div>


</body>
</html>