<!DOCTYPE html>
<html>
<head>
  <title>Devil Dog Squadron :: </title>
  <%= stylesheet_link_tag    "application", :media => "screen"  %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application_print", :media => "print" %>
  <%= csrf_meta_tags %>

</head>
<body id="hh">





<%= yield %>



<!-- Close page -->
</div>


</body>
</html>