<!DOCTYPE html>
<html>
<head>
  <title>Devil Dog Squadron :: </title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>
<body>

<div id="container">

<header>
  <%= render 'layouts/header' %>
</header>

<nav>
    <%= render 'layouts/nav' %>
</nav>


<div class="main">

  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  
  <article>
    <%= yield %>
  </article>

</div>

<footer>
    <%= render 'layouts/footer' %>
</footer>



<!-- Close page -->
</div>


</body>
</html>