<!DOCTYPE html>
<html>
<head>
  <title>Devil Dog Squadron :: </title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag '/apple-icon-57x57.png', :rel => 'apple-touch-icon' :sizes => '57x57' %>
  <%= favicon_link_tag '/apple-icon-60x60.png', :rel => 'apple-touch-icon' :sizes => '60x60' %>
  <%= favicon_link_tag '/apple-icon-72x72.png', :rel => 'apple-touch-icon' :sizes => '72x72' %>
  <%= favicon_link_tag '/apple-icon-76x76.png', :rel => 'apple-touch-icon' :sizes => '76x76' %>
  <%= favicon_link_tag '/apple-icon-114x114.png', :rel => 'apple-touch-icon' :sizes => '114x114' %>
  <%= favicon_link_tag '/apple-icon-120x120.png', :rel => 'apple-touch-icon' :sizes => '120x120' %>
  <%= favicon_link_tag '/apple-icon-144x144.png', :rel => 'apple-touch-icon' :sizes => '144x144' %>
  <%= favicon_link_tag '/apple-icon-152x152.png', :rel => 'apple-touch-icon' :sizes => '152x152' %>
  <%= favicon_link_tag '/apple-icon-180x180.png', :rel => 'apple-touch-icon' :sizes => '180x180' %>
  <%= favicon_link_tag '/android-icon-192x192.png', :rel => 'icon' type='image/png' :sizes => '192x192' %>
  <%= favicon_link_tag '/favicon-32x32.png', :rel => 'icon' type='image/png' :sizes => '32x32' %>
  <%= favicon_link_tag '/favicon-96x96.png', :rel => 'icon' type='image/png' :sizes => '96x96' %>
  <%= favicon_link_tag '/favicon-16x16.png', :rel => 'icon' type='image/png' :sizes => '16x16' %>

    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyA2CUo-V9LEi2YuJvh6F_Sf7NkmpXnC4yE"
      type="text/javascript"></script>
    <script type="text/javascript">
    var map;
    //<![CDATA[

    function load() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map"));
        map.addControl(new GMapTypeControl());
        map.addControl(new GSmallMapControl());
        map.addControl(new GScaleControl());
        map.setCenter(new GLatLng(38.0000, -97.0000), 4, G_NORMAL_MAP);


	var marker1 = new GMarker(new GLatLng(25.9068333,-97.4258333));
	GEvent.addListener(marker1, 'click', function() { marker1.openInfoWindowHtml("<div style='width: 205px; height: 55;'><div style='width: 205px; height: 55px;'><strong>Air Fiesta 2013</strong><br />Brownsville, TX</div></div>"); });
	map.addOverlay(marker1);

	var marker2 = new GMarker(new GLatLng(30.7389281,-98.2386102));
	GEvent.addListener(marker2, 'click', function() { marker2.openInfoWindowHtml("<div style='width: 205px; height: 55;'><div style='width: 205px; height: 55px;'><strong>Bluebonnet Air Show</strong><br />Burnet, TX</div></div>"); });
	map.addOverlay(marker2);

	var marker3 = new GMarker(new GLatLng(31.1519004,-97.4076629));
	GEvent.addListener(marker3, 'click', function() { marker3.openInfoWindowHtml("<div style='width: 205px; height: 55;'><div style='width: 205px; height: 55px;'><strong>Central Texas Airshow</strong><br />Temple, TX</div></div>"); });
	map.addOverlay(marker3);

	var marker4 = new GMarker(new GLatLng(32.0280556,-96.4005833));
	GEvent.addListener(marker4, 'click', function() { marker4.openInfoWindowHtml("<div style='width: 205px; height: 55;'><div style='width: 205px; height: 55px;'><strong>15th Annual Corsicana Airsho</strong><br />Corsicana, TX</div></div>"); });
	map.addOverlay(marker4);

	var marker5 = new GMarker(new GLatLng(29.3591306,-99.1774917));
	GEvent.addListener(marker5, 'click', function() { marker5.openInfoWindowHtml("<div style='width: 205px; height: 55;'><div style='width: 205px; height: 55px;'><strong>Hondo Air Field Fly-In</strong><br />Hondo, TX</div></div>"); });
	map.addOverlay(marker5);

	var marker6 = new GMarker(new GLatLng(40.4459444,-95.3673056));
	GEvent.addListener(marker6, 'click', function() { marker6.openInfoWindowHtml("<div style='width: 205px; height: 55;'><div style='width: 205px; height: 55px;'><strong>Tarkio Flying Wingnuts</strong><br />Tarkio, MO</div></div>"); });
	map.addOverlay(marker6);

	var marker7 = new GMarker(new GLatLng(31.9425278,-102.2019167));
	GEvent.addListener(marker7, 'click', function() { marker7.openInfoWindowHtml("<div style='width: 205px; height: 55;'><div style='width: 205px; height: 55px;'><strong>Memorial Day at CAF HQ</strong><br />Midland, TX</div></div>"); });
	map.addOverlay(marker7);

	var marker8 = new GMarker(new GLatLng(43.995821,-88.551082));
	GEvent.addListener(marker8, 'click', function() { marker8.openInfoWindowHtml("<div style='width: 205px; height: 55;'><div style='width: 205px; height: 55px;'><strong>EAA Airventure</strong><br />Oshkosh, WI</div></div>"); });
	map.addOverlay(marker8);

	var marker9 = new GMarker(new GLatLng(32.218891,-96.079217));
	GEvent.addListener(marker9, 'click', function() { marker9.openInfoWindowHtml("<div style='width: 205px; height: 55;'><div style='width: 205px; height: 55px;'><strong>Thunder Over Cedar Creek</strong><br />Cedar Creek Resevoir, TX</div></div>"); });
	map.addOverlay(marker9);

	var marker10 = new GMarker(new GLatLng(27.9130278,-97.2115000));
	GEvent.addListener(marker10, 'click', function() { marker10.openInfoWindowHtml("<div style='width: 205px; height: 55;'><div style='width: 205px; height: 55px;'><strong>San Patricio County Fly-In</strong><br />Ingleside, TX</div></div>"); });
	map.addOverlay(marker10);

	var marker11 = new GMarker(new GLatLng(47.7068611,-104.1925556));
	GEvent.addListener(marker11, 'click', function() { marker11.openInfoWindowHtml("<div style='width: 205px; height: 55;'><div style='width: 205px; height: 55px;'><strong>Wings of Freedom III</strong><br />Sidney, MT</div></div>"); });
	map.addOverlay(marker11);

	var marker12 = new GMarker(new GLatLng(31.6378056,-97.0741389));
	GEvent.addListener(marker12, 'click', function() { marker12.openInfoWindowHtml("<div style='width: 205px; height: 55;'><div style='width: 205px; height: 55px;'><strong>Heart of Texas Airshow</strong><br />Waco, TX</div></div>"); });
	map.addOverlay(marker12);

	var marker13 = new GMarker(new GLatLng(33.1770653,-96.5887667));
	GEvent.addListener(marker13, 'click', function() { marker13.openInfoWindowHtml("<div style='width: 205px; height: 55;'><div style='width: 205px; height: 55px;'><strong>Dallas AirPower Expo</strong><br />McKinney, TX</div></div>"); });
	map.addOverlay(marker13);

	
      }
    }

    //]]>
    </script>

</head>
<body  onload="load(); startList();" onunload="GUnload()">

<script language="JavaScript" type="text/JavaScript">
startList = function() {
if (document.all&&document.getElementById) {
navRoot = document.getElementById("nav");
for (i=0; i<navRoot.childNodes.length; i++) {
node = navRoot.childNodes[i];
if (node.nodeName=="LI") {
node.onmouseover=function() {
this.className+=" over";
  }
  node.onmouseout=function() {
  this.className=this.className.replace(" over", "");
   }
   }
  }
 }
}

</script>

<div id="page">

<%= render 'layouts/header' %>

<div id="main-area">

  <div id="content">
  
  <div class="content-wide">

      <%= yield %>

  </div>
  
  </div>

  </div>

<%= render 'layouts/footer' %>

<!-- Close main-area -->
</div>

<!-- Close page -->
</div>


</body>
</html>