<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
</script>

<%= render "scripts" %>

<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1"><strong>Contact</strong></a></li>
        <li><a href="#tabs-2"><strong>CAF Info</strong></a></li>
        <li><a href="#tabs-3"><strong>Emergency Contact</strong></a></li>
    </ul>

<div id="tabs-1">

<div class="indent_row">
  <div class="cell field"> 
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, :size => '20' %>
  </div>
  <div class="cell field">  
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, :size => '20'  %>
  </div>
</div>

<div class="indent_row">
  <div class="cell field"> 
    <%= f.label :street_1 %><br />
    <%= f.text_field :street_1 %>
  </div>
  <div class="cell field">  
    <%= f.label :street_2 %><br />
    <%= f.text_field :street_2 %>
  </div>
</div>

<div class="indent_row">
  <div class="cell field">
    <%= f.label :city %><br />
    <%= f.text_field :city, :size => '15' %>
  </div>
  <div class="cell field">
    <%= f.label :state %><br />
    <%= f.text_field :state, :size => '5' %>
  </div>
  <div class="cell field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip, :size => '10' %>
  </div>
</div>

<div class="indent_row">
  <div class="cell field">
    <%= f.label :home_phone %><br />
    <%= f.text_field :home_phone, :size => '15' %>
  </div>
  <div class="cell field">
    <%= f.label :work_phone %><br />
    <%= f.text_field :work_phone, :size => '15' %>
  </div>
  <div class="cell field">
    <%= f.label :cell_phone %><br />
    <%= f.text_field :cell_phone, :size => '15' %>
  </div>
</div>
<div class="clearer"></div>
</div>



<div id="tabs-2">
<div class="indent_row">
  <div class="cell field">
    <%= f.label :caf_col_no, "CAF Col #" %><br />
    <%= f.text_field :caf_col_no, :size => '15' %>
  </div>
  <div class="cell field">
    <%= f.label :active %><br />
    <% if @member.active == true %>
      <div style="font-size: 1.3em;text-align: center;"><i class="icon-check"></i></div>
    <% else %>
      <div style="font-size: 1.3em;text-align: center;"><i class="icon-check-empty"></i></div>
    <% end %>
  </div>
</div>
<p class="form_tip">Dues date may not be accurate - currently updating.</p>  
<div class="clearer"></div>

</div>

<div class="clearer"></div>
  
<div id="tabs-3">
<div class="indent_row">
  <div class="cell field">
    <%= f.label :ec_name, "Emergency Contact Name" %><br />
    <%= f.text_field :ec_name, :size => '20', :placeholder => "First Last" %>
  </div>
  <div class="cell field">
    <%= f.label :ec_phone, "Emergency Contact Phone" %><br />
    <%= f.text_field :ec_phone, :size => '20' %>
  </div>
 
<div class="clearer"></div>

</div>
</div>
<div class="actions" style="margin: 0 20em;">
    <%= submit_tag  "Update Account", :name => "Update Account" %>
  </div>
</div>

<div class="clearer"></div>  


<% end %>
