
    <tr>
      <td><%= link_to @dues_payments.date_paid, dues_payment_path(@dues_payments) %></td>
      <td><%= @dues_payments.payment_method %></td>
      <td><%= @dues_payments.payment_type %></td>
      <td><%= number_to_currency(@dues_payments.amt_paid) %></td>
      <td><%= @dues_payments.notes %></td>
    </tr>
      