<div class="content-left">

<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @member.user.username %>
</p>

<p>
  <b>Caf Col No:</b>
  <%= @member.caf_col_no %>
</p>

<p>
  <b>Dd dues date:</b>
  <%= @member.dd_dues_date %>
</p>

<p>
  <b>First name:</b>
  <%= @member.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @member.last_name %>
</p>

<p>
  <b>Street 1:</b>
  <%= @member.street_1 %>
</p>

<p>
  <b>Street 2:</b>
  <%= @member.street_2 %>
</p>

<p>
  <b>City:</b>
  <%= @member.city %>
</p>

<p>
  <b>State:</b>
  <%= @member.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @member.zip %>
</p>

<p>
  <b>Home phone:</b>
  <%= @member.home_phone %>
</p>

<p>
  <b>Work phone:</b>
  <%= @member.work_phone %>
</p>

<p>
  <b>Cell phone:</b>
  <%= @member.cell_phone %>
</p>

<p>
  <b>Email:</b>
  <%= @member.email %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>

</div>