<% content_for :sidebar do %>
  <%= render "sidebars/members" %>
<% end %>

<p id="notice"><%= notice %></p>

<div class="form_row">

<div class="form_cell" style="width: 200px;">

<p><b><%= @member.first_name %> <%= @member.last_name %></b></p>

<p><%= @member.street_1 %>
 <% if @member.street_2? %>
   <br /><%= @member.street_2 %>
 <% end %>
<br /><%= @member.city %>, <%= @member.state %> <%= @member.zip %>
</p>
</div>
<div class="form_cell">
<p>
  <% if @member.home_phone? %>
    <em>Home:</em> <%= @member.home_phone %><br />
  <% end %>
  <% if @member.work_phone? %>
    <em>Work:</em> <%= @member.work_phone %><br />
  <% end %>
  <% if @member.cell_phone? %>
    <em>Cell:</em> <%= @member.cell_phone %><br />
  <% end %>
  <% if @member.email? %>
    <em>Email:</em> <%= @member.email %>
  <% end %>
</p>

<p>
  <em>Username:</em>
  <%= @member.user.username %>
<br />
  <em>CAF Col No:</em>
  <%= @member.caf_col_no %>
<br />
  <em>DDS dues date:</em>
  <%= @member.dd_dues_date %>
</p>
</div>
</div>

<%= link_to 'Edit / Make Updates', account_edit_path(@member) %> | 
<%= link_to 'Member Home', pages_member_home_path %>

