<script>
  $(function() {
    $( "#tabs" ).tabs();
  });

  $(function() {
$('th').click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})
function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).html() }
  });

</script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Status', 'Qty'],
          ['Current',     <%= @active_members.dues_current.count %>],
          ['Past Due',    <%= @active_members.dues_past.count %>],
          ['No Info',  <%= dues_na = @active_members.count - (@active_members.dues_past.count + @active_members.dues_current.count) %>]
        ]);

        var options = {
          title: 'Dues Status',
          is3D: true,
          backgroundColor: '#f0f0f0',
          fontName: 'Verdana',
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>

<div class="members-list">
<div class="indent_row">
  <div class="cell">
<h1>Members List Admin</h1>
<p><%= link_to 'New Member', new_member_path %> | <%= link_to 'Export to CSV', members_path(:format => "csv")  %></p>
  </div>
  <div class="cell">
<div id="piechart" style="width: 500px; height: 300px; float: right;"></div>
  </div>
</div>
<div style="clear: both;"></div>
<div id="tabs">
    <ul>
        <li><a href="#tabs-1"><strong>Active [<%= @active_members.count %>]</strong></a></li>
        <li><a href="#tabs-2"><strong>Inactive [<%= @inactive_members.count %>]</strong></a></li>
    </ul>

<div id="tabs-1">

<h2>Active Members</h2>

<table class="table_border">
<thead>
  <tr>
    <th>Col No.</th>
    <th style="min-width: 150px;">Name</th>
    <th style="min-width: 150px;">Location</th>
    <th style="max-width: 150px;">email</th>
    <th style="min-width: 90px;">CAF Join Date</th>
    <th style="min-width: 90px;">Last Dues Paid</th>
  </tr>
</thead>
<tbody>
<% @active_members.each do |member| %>
  <tr class="<%= cycle('odd_row', 'even_row') %>">
    <td>
      <% if !member.caf_col_no.nil? %>
        <%= link_to member.caf_col_no, edit_member_path(member) %>
      <% else %>
        <%= link_to 'n/a', edit_member_path(member) %>
      <% end %>
    </td>
    <td><%=  member.last_name+", "+member.first_name %></td>
    <% if member.city? %>
      <td><%= member.city+", "+member.state %></td>
    <% else %>
      <td>---</td>    
    <% end %>
    <td><%= member.user.email %></td>
    <td><%= member.caf_join_date %></td>
    <td><% if !member.dues_payments.last.nil? %>
    <% if member.dues_payments.most_recent.first.date_paid < (Date.today - 1.year) %>
      <span class="error"><%= member.dues_payments.most_recent.first.date_paid %></span>
    <% else %>
      <%= member.dues_payments.most_recent.first.date_paid %>
    <% end %>
    <% end %>
    </td>

  </tr>
<% end %>
</tbody>
</table>

</div>
<div id="tabs-2">

<h2>Inactive Members</h2>

<table class="table_border">
  <tr>
    <th style="min-width: 60px;">Col No.</th>
    <th style="min-width: 150px;">Name</th>
    <th style="min-width: 150px;">Location</th>
    <th style="max-width: 150px;">email</th>
    <th style="min-width: 90px;">CAF Join Date</th>
    <th style="min-width: 90px;">Last Dues Paid</th>
  </tr>

<% @inactive_members.each do |member| %>
  <tr class="<%= cycle('odd_row', 'even_row') %>">
    <td>
      <% if !member.caf_col_no.nil? %>
        <%= link_to member.caf_col_no, edit_member_path(member) %>
      <% else %>
        <%= link_to 'n/a', edit_member_path(member) %>
      <% end %>
    </td>
    <td><%=  member.last_name+", "+member.first_name %></td>
    <% if member.city? %>
      <td><%= member.city+", "+member.state %></td>
    <% else %>
      <td>---</td>    
    <% end %>
    <td><%= member.user.email %></td>
    <td><%= member.caf_join_date %></td>
    <td><% if !member.dues_payments.last.nil? %>
    <% if member.dues_payments.most_recent.first.date_paid < (Date.today - 1.year) %>
      <span class="error"><%= member.dues_payments.most_recent.first.date_paid %></span>
    <% else %>
      <%= member.dues_payments.most_recent.first.date_paid %>
    <% end %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>
</div>
</div>
</div>