<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
</script>

<div class="members-list">
<h1>Members List Admin</h1>
<p><%= link_to 'New Member', new_member_path %> | <%= link_to 'Export to CSV', members_path(:format => "csv")  %></p>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1"><strong>Active [<%= @active_members.count %>]</strong></a></li>
        <li><a href="#tabs-2"><strong>Inactive [<%= @inactive_members.count %>]</strong></a></li>
    </ul>

<div id="tabs-1">

<h2>Active Members</h2>

<table class="table_border">
  <tr>
    <th style="min-width: 60px;">Col No.</th>
    <th style="min-width: 150px;">Name</th>
    <th style="min-width: 150px;">Location</th>
    <th style="max-width: 150px;">Email</th>
    <th style="min-width: 90px;">CAF Join Date</th>
    <th style="min-width: 90px;">Last Dues Paid</th>
  </tr>

<% @active_members.each do |member| %>
  <tr class="<%= cycle('odd_row', 'even_row') %>">
    <td><%= member.caf_col_no %></td>
    <td><%= link_to member.last_name+", "+member.first_name, edit_member_path(member) %></td>
    <% if member.city? %>
      <td><%= member.city+", "+member.state %></td>
    <% else %>
      <td>---</td>    
    <% end %>
    <td><%= member.user.email %></td>
    <td><%= member.caf_join_date %></td>
    <td><% if !member.dues_payments.last.nil? %>
    <%= member.dues_payments.last.date_paid %>
    <% end %>
    </td>

  </tr>
<% end %>
</table>

</div>
<div id="tabs-2">

<h2>Inactive Members</h2>

<table class="table_border">
  <tr>
    <th style="min-width: 50px;">Col No.</th>
    <th style="min-width: 150px;">Name</th>
    <th style="min-width: 150px;">Location</th>
    <th>Email</th>
    <th>Join Date</th>
    <th style="min-width: 90px;">Last Dues Paid</th>
  </tr>

<% @inactive_members.each do |member| %>
  <tr class="<%= cycle('odd_row', 'even_row') %>">
    <td><%= member.caf_col_no %></td>
    <td><%= link_to member.last_name+", "+member.first_name, edit_member_path(member) %></td>
    <% if member.city? %>
      <td><%= member.city+", "+member.state %></td>
    <% else %>
      <td>---</td>    
    <% end %>
    <td><%= member.user.email %></td>
    <td><%= member.caf_join_date %></td>
    <td><% if !member.dues_payments.last.nil? %>
    <%= member.dues_payments.last.date_paid %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>
</div>
</div>
</div>