<div class="content-left">

<h1>Members List</h1>

<table width="500" class="table_border">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Email</th>
  </tr>

<% @members.each do |member| %>
  <tr class="<%= cycle('odd_row', 'even_row') %>">
    <td><%= member.last_name+", "+member.first_name %></td>
    <td><%= member.city+", "+member.state %></td>
    <td><%= member.email %></td>
  </tr>
<% end %>
</table>

<br />

</div>

<div id="right-column">

<div class="right-column-box">

<h1>Members Pages</h1>

<p>Active</p>
<ul>
  <li><%= link_to "Membership", members_list_path %></li>
  <li><%= link_to "Account/Profile", account_path(@user.member.id) %></li>
</ul>
<p>Coming Soon</p>
<ul>
  <li>Forum</li>
  <li>Event Sign-up</li>
  <li>Documents</li>
</ul>
<!-- Close right-column-box -->
</div>

<!-- Close right-column -->
</div>
