<% content_for :sidebar do %>
<% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
  <div align="center">
  <%= button_to "Add new member", new_member_path, :method => :get %>
  </div>
<% end %>

  <%= render "sidebars/members" %>
<% end %>

<h1>Members List - [<%= @members.size %>]</h1> 

<table width="100%">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Email</th>
  </tr>

<% @members.each do |member| %>
   <tr class="<%= cycle('odd-row', 'even-row') %>">
    <td>
    
    <% if signed_in?%>
      <% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
        <%= link_to member.last_name+", "+member.first_name, edit_member_path(member) %>
      <% else %>
        <%= member.last_name+", "+member.first_name %>
      <% end %>
    <% end %>
    
    </td>
    <% if member.city? %>
      <td><%= member.city+", "+member.state %></td>
    <% else %>
      <td>---</td>    
    <% end %>
    <td><%= member.user.email %></td>
  </tr>
<% end %>
</table>

