<script>
  $(function() {
$('th').click(function(){
    var table = $(this).parents('table').eq(0)
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
    this.asc = !this.asc
    if (!this.asc){rows = rows.reverse()}
    for (var i = 0; i < rows.length; i++){table.append(rows[i])}
})
function comparer(index) {
    return function(a, b) {
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB)
    }
}
function getCellValue(row, index){ return $(row).children('td').eq(index).html() }
  });

</script>

<% content_for :sidebar do %>
<% if current_user.roles.any? {|role| role.name == "superuser" or role.name == "admin" } %>
  <div align="center">
  <%= button_to "Add new member", new_member_path, :method => :get %>
  </div>
<% end %>

  <%= render "sidebars/members" %>
<% end %>

<h1>Members List - [<%= @members.size %>]</h1> 

<table class="table_border">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Email</th>
  </tr>

<% @members.each do |member| %>
  <tr class="<%= cycle('odd_row', 'even_row') %>">
    <td><%= member.last_name+", "+member.first_name %></td>
    <% if member.city? %>
      <td><%= member.city+", "+member.state %></td>
    <% else %>
      <td>---</td>    
    <% end %>
    <td><%= member.user.email %></td>
  </tr>
<% end %>
</table>

